// Music section START

.section--music{
	margin: -14px 0 53px;

	.c-w{
		margin: 0 -60px;

		@include brk($max: $screen-lg){
			margin: 0;
		};
	}
}

.music-block{
	border: 2px solid #cbb028;
	min-height: 344px;
	position: relative;
	margin-bottom: 20px;

	.block-title{
		text-transform: uppercase;
		font-size: 30px;
		font-weight: bold;
		font-family: $roboto;
		margin-bottom: 7px;
	}


	p{
		line-height: 1.3;
		font-family: $roboto;
 	}

	.data{
		@include pie-clearfix;
	}


	&.soundtrack{
		padding: 20px 18px 12px;

		.img-poster{
			float: left;
			margin: 3px 20px 0 0;

			@include brk($max: 480px){
				float: none;
				margin: 0 0 20px;
			};
		}

		.data{
			margin-bottom: 25px;
		}

		.listen{

			.item{
				display: inline-block;
				vertical-align: top;
				margin: 0 6px 6px 0;
			}
		}


		&:after, &:before{
			display: block;
			content: '';
			position: absolute;
			bottom: -2px;
			background: #000;
			height: 12px;
			border-top: 2px solid #cbb028;
		}

		&:before{
			@include transform(skew(-45deg, 0));
			width: 60px;
			right: 145px;
			border-left: 2px solid #cbb028;
		}
		
		&:after{
			@include transform(skew(45deg, 0));
			width: 60px;
			right: 102px;
			border-right: 2px solid #cbb028;
		}

	}


	&.ringtones{
		padding: 20px 23px 7px 23px;

		p{
			max-width: 450px;
		}

		.data{
			text-align: center;
			font-size: 0;
			margin-bottom: 29px;

			.item{
				display: inline-block;
				vertical-align: top;
				width: 33%;
				font-family: $roboto;


				@include brk($max: 480px){
					padding: 0 5px;
				};


				@include brk($max: 390px){
					display: block;
					width: auto;
					margin-bottom: 20px;
				};


				.image{
					margin:  0 0 14px;
				}

				.t{
					font-size: 16px;
					font-weight: bold;
					color: #cbb028;
					margin: 0 0 -2px;
				}

				.cod{
					font-size: 13px;
					font-weight: 300;
					color: #ccc;

					span{
						font-weight: bold;
					}
				}
			}
		}

		.btn-more{
			margin-left: -17px;
			margin-right: -17px;
		}
	}


	.btn-more{
		@include background-image(linear-gradient(to right bottom, #fdf289 50%, #fbe93a 50%)); // fdf289
		font-family: $roboto;
		display: block;
		text-decoration: none;
		color: #5c4109;
		font-size: 16px;
		font-weight: bold;
		line-height: 1;
		text-transform: uppercase;
		position: relative;
		padding: 10px 10px 7px;
		text-align: center;

		span{
			position: relative;
		}

		&:hover{
			@include background-image(linear-gradient(to right bottom, #fdf289 50%, #fbe93a 100%));
		}

	}
}


// Music section END