.section--trailers{
	position: relative;
	padding-top: 46px;

	.items {
		margin: 36px 0 13px;
	}

	.section-title{
		margin-bottom: 37px;
	}

	.more-row{
		margin-top: -8px;
	}
}

.trailers{
	margin: 0 0 0 -2%;
	font-size: 0;

	@include brk($max: $screen-phone) {
		margin-left: 0;
	};
	


	&__item{
		display: inline-block;
		vertical-align: top;
		position: relative;
		width: 48%;
		margin: 0 0 2% 2%;
		overflow: hidden;
		border-radius: 10px;

		@include brk($max: $screen-phone) {
			width: 100%;
			margin-left: 0;
		};


		.inner{
			position: relative;
			height: 0;
			padding-top: 52.46%;
		}


		.placeholder, .video-object{
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
		}

		.a{
			cursor: pointer;
			&:hover{
				.poligon{
					fill:#fff;
				}
			}
		}

		.play{
			@include translate3d(-50%, -50%, 0);
			display: block;
			width: 94px;
			position: absolute;
			left: 50%;
			top: 50%;
			z-index: 2;

			.poligon{
				@include transition(fill $base-transition-timing ease);
				fill: rgba(#fff, .5);
				cursor: pointer;

				&:hover{
					fill: #fff;
				}
			}
		}

		.caption{
			background: #282727;
			font-size: 14px;
			color: #fff;
			text-transform: uppercase;
			text-shadow: 0 1px 1px rgba(#000, .5);
			padding: 11px 15px 17px;
			position: relative;
			min-height: 64px;
			border-radius: 0 0 5px 5px;

			&:after, &:before{
				display: block;
				content: '';
				position: absolute;
				bottom: 0;
				background: #000;
				height: 8px;
			}

			&:before{
				@include transform(skew(-45deg, 0));
				width: 55px;
				right: 111px;
			}
			
			&:after{
				@include transform(skew(45deg, 0));
				width: 55px;
				right: 64px;
			}

			.time{
				background: rgba(#000, .4);
				padding: 2px 6px;
				border-radius: 3px;
				color: #fff;
				position: absolute;
				right: 7px;
				top: -25px;
				font-size: 12px;
			}
		}
	}
}