.section--baner{
	position: relative;
	margin: 0 0 -58px;

	.section-title{
		position: absolute;
		left: 0;
		top: -20px;
		width: 100%;
		text-align: center;
		z-index: 10;
		letter-spacing: -.5px;
	}

	.baner{
		position: relative;
		max-width: 1024px;
		margin: 0 auto;

		img{
			position: relative;
			display: block;
			width: 100%;


			@include brk($max: 480px) {
				display: none;
			};


			&.img-320{
				display: none;

				@include brk($max: 480px) {
					display: block;
				};

			}

		}
	}
}