.section--about{
	position: relative;
	padding: 39px 0 26px;

	@include brk($max: $screen-tablet) {
		font-size: 14px;
		min-height: 1px;
	};


	.poster{
		margin: 26px -10px 0 -9px;

		@include brk($max: $screen-tablet - 1) {
			display: none;
		};
	}

	.section-title{
		letter-spacing: -0.4px;
		margin: 41px 0 32px 0;
	}

	p{
		color: #ccc;
		margin-bottom: 10px;
	}

	.list{
		list-style-type: none;
		margin: 0 0 39px;
		padding: 0;


		&__item{
			display: block;
			margin: 0 0 3px;
			overflow: hidden;
			font-size: 0;
		}

		&__left{
			display: inline-block;
			vertical-align: top;
			width: 27%;
			color: #878787;
			font-size: $font-size-base;

			@include brk($max: $screen-phone) {
				width: 40%;
				padding-right: 2%;
			};

		}

		&__right{
			display: inline-block;
			vertical-align: top;
			width: 72%;
			padding-left: 1%;
			font-size: $font-size-base;

			@include brk($max: $screen-phone) {
				width: 55%;
			};

		}
	}

	.btn-row{

		@include brk($max: $screen-tablet) {
			margin-bottom: 20px;
		};

	}
}