.section--app{
	background: image-url('app-bgr.jpg') center 0 no-repeat;
	background-size: cover;
	padding: 40px 0 75px;
	color: #fff;
	max-width: 1024px;
	margin-left: auto;
	margin-right: auto;

	.winphones & {
		display: none;
	}

	.app-logo{
		border-radius: 40px;
		overflow: hidden;

		@include brk($max: $screen-tablet) {
			border-radius: 20px;
		};
		@include brk($max: $screen-phone) {
			border-radius: 10px;
		};
	}

	
	.app-title{
		margin: 5px 0 11px;
		font-size: 35px;
		text-transform: none;
		letter-spacing: -1.2px;

		@include brk($max: $screen-tablet) {
			font-size: 18px;
		};

	}

	.text{
		font-size: 20px;
		font-weight: 300;
		line-height: 1.2;
		letter-spacing: -.2px;
		max-width: 585px;
		margin-bottom: 30px;

		@include brk($max: $screen-phone) {
			font-size: 14px;
		};
	}


	.links{
		font-size: 0;
		
		.link{
			
			@include transition(opacity $base-transition-timing ease);
			display: inline-block;
			vertical-align: top;
			width: 134px;
			margin: 0 22px 0 0;
			opacity: 1;

			&:hover{
				opacity: .8;
			}

			&.ios{
				.AndroidOS &{
					display: none;
				}
				
			}
			&.android{
				.iOS &{
					display: none;
				}
				
			}

		}
	}
}