.section--films{
	padding-top: 5px;
	padding-bottom: 57px; 

	.carousel{
		margin-top: 37px;
		color: #dddddd;
		font-size: 14px;
	}

	.poster{
		margin-bottom: 9px;
	}

	.caption{
		line-height: 1.1;

		@include brk($max: $screen-tablet) {
			font-size: 12px;	 
		};
		@include brk($max: $screen-phone) {
			font-size: 10px;	 
		};

	}


	@include brk($max: $screen-desktop) {
		.owl-stage-outer{
			overflow: visible;
		}
	};
}