.section--video{
	min-height: 583px;
	position: relative;
	margin-top: -50px;
	overflow: hidden;

	@include brk($max: 800px) {
		margin-top: 0;
		height: auto;
		min-height: 1px;
	};

	h1{
		margin: 0;
		text-transform: uppercase;
		font-size: 23px;
		font-weight: bold;

		@include brk($max: $screen-phone ) {
			font-size: 20px;
			min-height: 1px;
		};

	}


	.text-container{
		@include translate3d(0, -50%, 0);
		position: absolute;
		width: 100%;
		left: 0;
		top: 50%;


		@include brk($max: 800px) {
			@include translate3d(0, 0, 0);
			position: relative;
		};

	}


	.movie-logo{
		width: 284px;
		display: inline-block;
		vertical-align: top;
		margin: 0 0 0 0;

		@include brk($max: 800px) {
			margin-top: 22px;
		};

		@include brk($max: $screen-phone) {
			width: 240px;
		};
	}

	.t{
		color: #fff;
		margin: -13px 0 1px 0px;
	}

	.d{
		color: #80ccf2;
	}

	.play{
		width: 114px;
		height: 108px;
		margin: 42px 0 0 0px;
		display: inline-block;
		vertical-align: top;
		overflow: hidden;
		cursor: pointer;
		border: none;
		background: none;
		padding: 0;
		outline: none !important;


		span{
			@include transition(all $base-transition-timing ease);
			display: block;
			width: 0;
			height: 0;
			border-width: 54.5px 97px;
			border-style: solid;
			border-color: transparent;
			border-left-color: rgba(#fff, .5);

			&:hover{
				border-left-color: #fff;
			}
		}

		@include brk($max: 800px) {
			width: 77px;
			height: 88px;

			span{
				border-width: 44px 77px;
			}
		};
	}

	.pause{
		@include transition(color $base-transition-timing ease);
		@extend [class*="font-icon"];
		@extend .icon-pause;
		display: none;
		vertical-align: top;
		z-index: 3;
		font-size: 50px;
		cursor: pointer;
		color: rgba(#fff, .5);
		width: 97px;
		height: 71px;
		margin: 50px 0 29px 0;

		&:hover{
			color: #fff;
		}

		&.show{
			display: inline-block;
		}

		@include brk($max: $screen-phone) {
			margin: 37px 0 22px 0;
		};

	}


	.b{
		margin: 0 0 46px;
	}


	@include brk($max: 736px) {

		@media screen and (orientation:landscape) { 
			.movie-logo{
				width: 184px;
				margin: 10px 0 0 0;
			}

			h1{
				font-size: 15px;
			}

			.b{
				margin: 0 0 12px;
				position: relative;

				.play{
				    width: 53px;
				    height: 60px;
				    margin-top: 26px;

				    span{
				    	border-width: 30px 53px;
				    }
				}

				.pause{
					margin: 19px 0 1px 0;
				}
			}
		}
	
	};

	@include brk($max: 481px) {

		@media screen and (orientation:landscape) { 
			.ticket-btn{
				display: none;
			}
		}
	
	};


	.wistia_embed{
		@include brk($max: 800px) {
			@include translate3d(0,-50%,0);
			position: absolute;
			top: 50% !important;
			left: 0 !important;
			width: 100% !important;
		};

	}

	#video_container{
		overflow: visible !important;
	}


	#playBtn{
		display: inline-block;
		vertical-align: top;
		opacity: 0;
		position: absolute;

		&.show{
			opacity: 1;
			position: relative;
		}
	}

	#closeYoutubeVideo{
		@include transition(all $base-transition-timing ease);
		position: absolute;
		right: 80px;
		top: 80px;
		font-size: 35px;
		color: rgba(#fff, .5);
		cursor: pointer;
		z-index: 20;
		opacity: 0;
		visibility: hidden;

		&:hover{
			color: #fff;
		}

		&.show{
			opacity: 1;
			visibility: visible;
		}


		@include brk($max: $screen-tablet) {
			font-size: 40px;
			right: 20px;
			top: 20px;
		};
	}

	.video_container_wr{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}

	.y-video{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: #000;
		opacity: 0;
		visibility: hidden;
		z-index: -1;

		iframe{
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
		}

		&.show{
			visibility: visible;
			z-index: 10;
			opacity: 1;
		}

	}


	.view{
		position: relative;
		min-height: 100vh;


		[data-view="image"] & {
			min-height: 583px;

			@include brk($max: $screen-tablet) {
				min-height: 1px;
			}

		}

		@include brk($max:  800px) {
			min-height: 1px;
			padding-bottom: 50px;
		}

		@include brk($max: $screen-tablet) {
			min-height: 1px;
			background: none;
			padding-bottom: 50px;

			.main-image{
				display: block;
			}

			.wistia_embed{
				display: none;
				opacity: 0;
				visibility: hidden;
				overflow: hidden;
				height: 0;
				width: 0;
			}
		}

	}


	.main-image{
		position: absolute;
		left: 0;
		top: 50px;
		width: 100%;
		height: 100%;
		background:  image-url('v-bg.jpg') center 0 no-repeat;
		display: none;

		@include brk($max: $screen-tablet) {
			top: 0;
		};
	}


	[data-view="image"] & {
		
		.main-image{
			display: block;
		}

		.wistia_embed{
			display: none;
			opacity: 0;
			visibility: hidden;
			overflow: hidden;
			height: 0;
			width: 0;
		}

		.y-video{
			top: 0;

			@include brk($max: $screen-tablet) {
				top: 0;
			};

		}

	}

}