.section--heroes{
 	padding: 0;
 	position: relative;

 	.section-title{
 		margin: 25px 0 36px 0;
 	}

}


.carousel-heroes{
	position: relative;

	@include brk($max: $screen-tablet) {
		margin-left: -20px;
		margin-right: -20px;
	};
	
	.item{
		position: relative;
		overflow: hidden;

		.caption{
			@include background-image(linear-gradient(to right, rgba(#000, .7), transparent));
			position: absolute;
			right: 0;
			bottom: 0;
			z-index: 2;
			color: #ccc;
			font-size: 24px;
			font-weight: 300;
			text-transform: uppercase;
			letter-spacing: 0.8px;
			padding: 17px 29px 17px 29px;
		}
	}

	.owl-prev, .owl-next{
		@include translate3d(0,-50%,0);
		position: absolute;
		top: 50%;
		z-index: 10;
		width: 30px;
		height: 83px;
		cursor: pointer;
		margin-top: -2px;

		@include brk($max: $screen-tablet) {
			display: none;
		};


		svg{
			@include translate3d(0,-50%,0);
			display: inline-block;
			vertical-align: top;
			width: 27px;
			position: relative;
			top: 50%;
		}

		&:before, &:after{
			display: block;
			content: '';
			width: 14px;
			background: #000;
			height: 50%;
			position: absolute;
		}

		&:before{
			top: 5px;
		}

		&:after{
			bottom: 5px;
		}
	}

	.owl-prev{
		left: -30px;
		text-align: left;

		&:before, &:after{
			right: -12px;
		}

		&:before{
			@include transform(skew(0, 45deg));
		}

		&:after{
			@include transform(skew(0, -45deg));
		}
	}

	.owl-next{
		right: -30px;
		text-align: right;

		&:before, &:after{
			left: -12px;
		}


		&:before{
			@include transform(skew(0, -45deg));
		}

		&:after{
			@include transform(skew(0, 45deg));
		}

	}


	.owl-dots{
		@include translate3d(-50%,0,0);
		position: absolute;
		bottom: -12px;
		left: 50%;
		text-align: center;
		height: 29px;
		font-size: 0;
		z-index: 10;
		padding: 12px 20px;
		white-space: nowrap;

		.owl-dot{
			display: inline-block;
			vertical-align: top;
			width: 21px;
			height: 23px;
			cursor: pointer;
			text-align: center;
			position: relative;
			z-index: 2;

			span{
				@include transition(background .2s ease);
				display: inline-block;
				vertical-align: top;
				width: 11px;
				height: 11px;
				border-radius: 100%;
				border: 1px solid #fbe93a;
			}

			&:hover, &.active{
				span{
					background: #fbe93a;
				}
			}
		}

		&:before, &:after{
			display: block;
			content: '';
			position: absolute;
			width: 50%;
			height: 14px;
			top: 0;
			background: #000;
		}

		&:before{
			@include transform(skew(-45deg, 0));
			left: 5px;
		}

		&:after{
			@include transform(skew(45deg, 0));
			right: 5px;
		}
	}
}