.section--frames{
	position: relative;
	padding-top: 19px;
	margin-bottom: 54px;

	@include brk($max: $screen-phone) {

		margin-bottom: 0;

		.more-row{
			display: none;
		}
	};

	.items{
		padding: 3px;
		margin: 33px -3px 9px;

		@include brk($max: $screen-phone - 2) {
			margin-bottom: 0;
			padding: 0;
			margin-left: -10px;
			margin-right: -10px;
		};

	}

	.counter{
		background: #282727;
		color: #868686;
		border-radius: 3px;
		padding: 5px 10px;
		margin: 10px 0 50px;
		vertical-align: top;
		display: none;

		@include brk($max: 480px) {
			display: inline-block;
		};
	}

	.preloader{
		display: none;

			@include brk($max: 481px) {
				display: block;
			};
	}
}

.frames{
	margin: 0 0 0 -2%;
	font-size: 0;

	@include brk($max: 480px) {
		margin-left: -20px;
		margin-right: -20px;
		margin-bottom: 0;
	};


	&__item{
		display: inline-block;
		vertical-align: top;
		position: relative;
		width: 31.3%;
		margin: 0 0 2% 2%;

		@include brk($max: 480px) {
			width: 100%;
			margin-left: 0;
			margin-bottom: 0;
		};


		.a{
			@extend %borderFadeIn;
			@extend %scaleAnimated;
			position: relative;
			cursor: pointer;

		}

		&.m-hidden{
			display: none;

			@include brk($max: 481px) {
				display: block;
			};
		}
	}

}