%btn{

	display: inline-block;
	vertical-align: top;
	position: relative;
	text-transform: uppercase;
	background: none;
	border: none;
	text-decoration: none;
	cursor: pointer;
	overflow: visible;
	text-align: center;
	padding: 0;
	margin: 0;
	line-height: 1;

}

.btn-2{
	@extend %btn;
	@include sprite($bt1);
	color: #fff;
	font-size: 24px;
	font-family: $robotoC;
	letter-spacing: -1.1px;
	padding: 19px 0 0 0;
	
	&:hover{
		@include sprite($bt1_hover);
	}
}


.ticket-btn{
	@extend %btn;
	width: $b2-width;
	height: $b2-height;
	color: #5d4100;
	font-size: 24px;
	font-family: $robotoC;
	font-weight: bold;

	.text{
		position: relative;
		z-index: 4;
		display: inline-block;
		vertical-align: top;
		margin: 25px 0 0 -1px;
		letter-spacing: -.6px;
	}

	.s{
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		opacity: 0;

		&.s-1{
			@include sprite($b2);
			@include transition(opacity $base-transition-timing ease-out);
			opacity: 1;
		}

		&.s-2{
			@include sprite($b1);
			@include transition(opacity $base-transition-timing ease-in);
		}

		&.s-3{
			@include sprite($b3);
		}
	}

	&:hover{
		.s-2{
			@include transition(opacity .3s ease-in);
			opacity: 1;
		}
	}
	&:active{


		.s-1, .s-2{
			display: none;
		}

		.s-3{
			opacity: 1;
		}

		.text{
			margin-top: 28px;
		}
	}
}


.btn{
	@extend %btn;
	@include transition(background .2s ease);

	background: #80ccf2;
	color: #fff;
	font-weight: 800;
	border-radius: 5px;
	padding: 15px 38px;
	font-size: 20px;
	border-bottom: 5px solid #4bb5ea;

	&:hover{
		background: #9ADDFF;
		text-shadow: 0 1px 0 rgba(#000, .1);
	}

	&:active{
		border-bottom: none;
		top: 5px;
	}
}