.carousel, .must-be-carousel{
	position: relative;

	.owl-stage-outer{
		position: relative;
		overflow: hidden;
	}

	.owl-stage{
		position: relative;
		overflow: hidden;
	}

	.owl-item{
		float: left;

		.owl-lazy{
			@include transition(opacity 400ms ease);
		    transform-style: preserve-3d;
			opacity: 0;
		}
		
	}

	.owl-nav, .owl-dots{
			@include user-select(none);
	}
}