.popup{
	@include transition(opacity $base-transition-timing ease);
	@include translate3d(-50%, -50%, 0);
	position: fixed;
	left: 50%;
	top: 50%;
	width: 100%;
	max-width: 90%;
	padding: 0;
	z-index: 10001;
	opacity: 0;
	visibility: hidden;
	display: none;


	@include brk($min: $screen-lg) {
		max-width: 940px;
	};


	@include brk($max: $screen-tablet) {

		@media screen and (orientation:landscape) { 
		 	
		 	max-width: 80%;
		}
	
	};


	&.show{
		opacity: 1;
		visibility: visible;
		display: block;

		& ~ .overlay{
			opacity: 1;
			visibility: visible;
		}
	}

	.screen-area{
		max-width: 940px;
		margin: 0 auto;
		text-align: center;

		.screens{
			.item{
				font-size: 0;
				max-height: 100vh - 120;

				img{
					max-height: 100%;
				}
			}

			.owl-stage-outer{
				max-height: 100vh - 120;
			}
		}

	}

	.close{
		@include transition(color $base-transition-timing ease);
		position: absolute;
		color: #FBE93A;
		font-size: 30px;
		right: -43px;
		top: -57px;
		cursor: pointer;

		&:hover{
			color: #fff;
		}


		@include brk($max: 940 + 124px) {
			right: 0;

			@media screen and (orientation:landscape) { 
				top: -12px;
				right: -33px;
			}
		};


		@include brk($max: $screen-tablet) {

			@media screen and (orientation:landscape) { 
			 	
			 	right: -33px;
			 	top: -12px;
			 	z-index: 20;
			}
		
		};

	}

	.bg{
		background: #000;
	}

	.screens{
		min-height: 300px;
	}

	.screens, .trailer-area{
		margin-bottom: 7px;
		box-shadow: 0 0 25px rgba(#fbe93a, .7);
		width: 100%;
		position: relative;

		.item{

			img{
				@include transition(all .3s ease);
			}
		}
	}

	.thumbs{
		margin: 0 -3px;


		// @include brk($max: $screen-tablet) {

		// 	@media screen and (orientation:landscape) { 
		// 		display: none;
		// 	}
		
		// };

		@include brk($max: $screen-phone) {
			display: none;		
		};

		.owl-item{
			padding: 3px;

			&.center{
				.item{
					@extend %scaleAnimated;
					box-shadow: 0 0 0 3px #FBE93A;
				}
			}
		}

		.item{
			@include transition(all .3s ease);
			@extend %scaleAnimated;
			cursor: pointer;
			position: relative;

			body:not(.mobile) &{

				&:hover{
					box-shadow: 0 0 0 3px #FBE93A, 0 0 0 3px #FBE93A;
				}
			}

			&.active{
				box-shadow: 0 0 0 3px #FBE93A, 0 0 0 3px #FBE93A;
			}

		}

		.owl-nav{
			display: none;
		}
	}


	.owl-nav{
		position: static;


		&.disabled{
			display: none;
		}


		.owl-prev, .owl-next{
			@include transition(color $base-transition-timing ease);
			@include translate3d(0,-50%,0);
			display: block;
			position: absolute;
			top: 50%;
			font-size: 12px;
			cursor: pointer;
			z-index: 2;
			max-height: 300px;
			height: 100%;
			width: 100px;
			text-align: center;


			&.disabled{
				display: none;
			}


			@include brk($max: $screen-tablet) {
				width: auto;
				padding: 0 10px;
			};

			svg{
				@include translate3d(0,-50%,0);
				width: 27px;
				position: relative;
				top: 50%;
			}

		}

		.owl-prev{
			left: -116px;

			@include brk($max: 940 + 124px) {
				left: 0;
				z-index: 10;
			};
		}

		.owl-next{
			right: -116px;

			@include brk($max: 940 + 124px) {
				right: 0;
				z-index: 10;
			};

		}

	}

}

.overlay{
	@include transition(opacity $base-transition-timing ease);
	background: rgba(#000, .8);
	z-index: 1000;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	visibility: hidden;
}



.trailer-area{
	position: relative;
	height: 0;
	width: 100%;
	padding-top: 56.25%;

	.trailer{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	} 
}