[class*="font-icon"]{
     &:before{
        font-family: 'icons';
        font-style: normal;
        font-weight: normal;
        speak: none;

        display: inline-block;
        text-decoration: inherit;
        text-align: center;

        /* For safety - reset parent styles, that can break glyph codes*/
        font-variant: normal;
        text-transform: none;

        /* fix buttons height, for twitter bootstrap */
        line-height: inherit;

        /* Font smoothing. That was taken from TWBS */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

    }
}
 
.icon-facebook:before { content: '\e800'; }
.icon-twitter:before { content: '\e801'; }
.icon-odnoklassniki:before { content: '\e802'; }
.icon-down-open:before { content: '\e803'; }
.icon-up-open:before { content: '\e804'; }
.icon-left-open:before { content: '\e80a'; }
.icon-right-open:before { content: '\e805'; }
.icon-youtube-play:before { content: '\e807'; }
.icon-instagram:before { content: '\e808'; }
.icon-close:before { content: '\e809'; }
.icon-pause:before { content: '\e806'; }