/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$b1-name: 'b1';
$b1-x: 0px;
$b1-y: 0px;
$b1-offset-x: 0px;
$b1-offset-y: 0px;
$b1-width: 229px;
$b1-height: 79px;
$b1-total-width: 458px;
$b1-total-height: 219px;
$b1-image: '../images/sprite.png';
$b1: (0px, 0px, 0px, 0px, 229px, 79px, 458px, 219px, '../images/sprite.png', 'b1', );
$b2-name: 'b2';
$b2-x: 0px;
$b2-y: 79px;
$b2-offset-x: 0px;
$b2-offset-y: -79px;
$b2-width: 229px;
$b2-height: 79px;
$b2-total-width: 458px;
$b2-total-height: 219px;
$b2-image: '../images/sprite.png';
$b2: (0px, 79px, 0px, -79px, 229px, 79px, 458px, 219px, '../images/sprite.png', 'b2', );
$b3-name: 'b3';
$b3-x: 229px;
$b3-y: 0px;
$b3-offset-x: -229px;
$b3-offset-y: 0px;
$b3-width: 229px;
$b3-height: 79px;
$b3-total-width: 458px;
$b3-total-height: 219px;
$b3-image: '../images/sprite.png';
$b3: (229px, 0px, -229px, 0px, 229px, 79px, 458px, 219px, '../images/sprite.png', 'b3', );
$bt1-name: 'bt1';
$bt1-x: 229px;
$bt1-y: 79px;
$bt1-offset-x: -229px;
$bt1-offset-y: -79px;
$bt1-width: 211px;
$bt1-height: 61px;
$bt1-total-width: 458px;
$bt1-total-height: 219px;
$bt1-image: '../images/sprite.png';
$bt1: (229px, 79px, -229px, -79px, 211px, 61px, 458px, 219px, '../images/sprite.png', 'bt1', );
$bt1-hover-name: 'bt1_hover';
$bt1-hover-x: 0px;
$bt1-hover-y: 158px;
$bt1-hover-offset-x: 0px;
$bt1-hover-offset-y: -158px;
$bt1-hover-width: 211px;
$bt1-hover-height: 61px;
$bt1-hover-total-width: 458px;
$bt1-hover-total-height: 219px;
$bt1-hover-image: '../images/sprite.png';
$bt1-hover: (0px, 158px, 0px, -158px, 211px, 61px, 458px, 219px, '../images/sprite.png', 'bt1_hover', );
$spritesheet-width: 458px;
$spritesheet-height: 219px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($b1, $b2, $b3, $bt1, $bt1-hover, );
$spritesheet: (458px, 219px, '../images/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
