$base-transition-timing: 0.3s;

//== Large screen / wide desktop
$grid-columns: 12;
$grid-gutter-width:         20px;
$container-large-desktop:      (920px + $grid-gutter-width*2);
$container-lg:                 $container-large-desktop;



//== Typography

$regular: 'Open Sans', sans-serif;
$roboto: 'Roboto', sans-serif;
$robotoC: 'Roboto Condensed', sans-serif;


$font-family-sans-serif:  'sans-serif';
$font-family-base:        $regular;
$font-size-base:          16px;

$font-size-h1:            floor(($font-size-base * 3.08)); // ~40px
$font-size-h2:            floor(($font-size-base * 2.43)); // 34~px
$font-size-h3:            ceil(($font-size-base * 1.53)); // ~20px
$font-size-h4:            ceil(($font-size-base * 1.35)); // ~18px
$font-size-h5:            $font-size-base !default;
$font-size-h6:            ceil(($font-size-base * 0.85)); // ~12px

$line-height-base:        1.356;
$line-height-computed:    floor(($font-size-base * $line-height-base)); // ~20px
$headings-font-weight:    normal;


//== Forms
$input-height-base: 33px;
$padding-base-vertical: 8px;
$padding-base-horizontal: 22px;
$input-border: #ccc;
$form-group-margin-bottom: 12px;




//== Colors
$text-color: #ccc;
$link-color: #231f20;
$color-primary: #ff6138;
$color-primary-2: #79bd8f;
$color-secondary: #00a388;


// Theme
$body-bg-color: #fff;
$header-top-bg-color:#060e0c;
$header-top-text-color:#c4cdcb;