<div class="carousels-popup popup" id="frames-popup">
	<div class="screen-area relative">
		<div class="js-close font-icon icon-close close"></div>
		<div class="relative bg">
			<div class="preloader">
			    <svg class="circle">
			        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#play-circle"></use>
			    </svg>
			</div>
			<div 
				data-string="TFA Still "
				data-plugin-options='{"items":1, "loop": false, "nav": true, "mouseDrag": false, "margin":0, "autoHeight": true, "lazyLoad": false}'
				data-responsive-options='{"0": {"items": 1}, "480": {"items": 1}, "768": {"items": 1}, "992": {"items": 1}, "1024": {"items": 1}}'
				data-nav-text='<svg class="s" viewBox="0 0 27 29"><use  class="s" xlink:href="#btn-left"></use></svg>,<svg class="s" viewBox="0 0 27 29"><use  class="s" xlink:href="#btn-right"></use></svg>'
				id="screens" 
				class="carousel screens keycontrol">
				<div data-hash="frame-1" class="item v"><img src="assets/frames/still-1.jpg" alt="" class="img--block img--responsive etalon" style="margin: 0 auto;"></div>
				<div  data-hash="frame-2" class="item v"><img data-src="assets/frames/still-2.jpg" alt="" class="non-owl-lazy img--block img--responsive" style="margin: 0 auto;"></div>
				<div  data-hash="frame-3" class="item v"><img data-src="assets/frames/still-3.jpg" alt="" class="non-owl-lazy img--block img--responsive" style="margin: 0 auto;"></div>
				<div  data-hash="frame-4" class="item v"><img data-src="assets/frames/still-4.jpg" alt="" class="non-owl-lazy img--block img--responsive" style="margin: 0 auto;"></div>
				<div  data-hash="frame-5" class="item v"><img data-src="assets/frames/still-5.jpg" alt="" class="non-owl-lazy img--block img--responsive" style="margin: 0 auto;"></div>
				<div  data-hash="frame-6" class="item v"><img data-src="assets/frames/still-6.jpg" alt="" class="non-owl-lazy img--block img--responsive" style="margin: 0 auto;"></div>
				<div  data-hash="frame-7" class="item v"><img data-src="assets/frames/still-7.jpg" alt="" class="non-owl-lazy img--block img--responsive" style="margin: 0 auto;"></div>
				<div  data-hash="frame-8" class="item v"><img data-src="assets/frames/still-8.jpg" alt="" class="non-owl-lazy img--block img--responsive" style="margin: 0 auto;"></div>
				<div  data-hash="frame-9" class="item v"><img data-src="assets/frames/still-9.jpg" alt="" class="non-owl-lazy img--block img--responsive" style="margin: 0 auto;"></div>
				<div  data-hash="frame-10" class="item v"><img data-src="assets/frames/still-10.jpg" alt="" class="non-owl-lazy img--block img--responsive" style="margin: 0 auto;"></div>
				<div  data-hash="frame-11" class="item v"><img data-src="assets/frames/still-11.jpg" alt="" class="non-owl-lazy img--block img--responsive" style="margin: 0 auto;"></div>
				<div  data-hash="frame-12" class="item v"><img data-src="assets/frames/still-12.jpg" alt="" class="non-owl-lazy img--block img--responsive" style="margin: 0 auto;"></div>
				<div  data-hash="frame-13" class="item v"><img data-src="assets/frames/still-13.jpg" alt="" class="non-owl-lazy img--block img--responsive" style="margin: 0 auto;"></div>
				<div  data-hash="frame-14" class="item v"><img data-src="assets/frames/still-14.jpg" alt="" class="non-owl-lazy img--block img--responsive" style="margin: 0 auto;"></div>
				<div  data-hash="frame-15" class="item v"><img data-src="assets/frames/still-15.jpg" alt="" class="non-owl-lazy img--block img--responsive" style="margin: 0 auto;"></div>
				<div  data-hash="frame-16" class="item v"><img data-src="assets/frames/still-16.jpg" alt="" class="non-owl-lazy img--block img--responsive" style="margin: 0 auto;"></div>
				<div  data-hash="frame-17" class="item v"><img data-src="assets/frames/still-17.jpg" alt="" class="non-owl-lazy img--block img--responsive" style="margin: 0 auto;"></div>
				<div  data-hash="frame-18" class="item v"><img data-src="assets/frames/still-18.jpg" alt="" class="non-owl-lazy img--block img--responsive" style="margin: 0 auto;"></div>
				<div  data-hash="frame-19" class="item v"><img data-src="assets/frames/still-19.jpg" alt="" class="non-owl-lazy img--block img--responsive" style="margin: 0 auto;"></div>
				<div  data-hash="frame-20" class="item v"><img data-src="assets/frames/still-20.jpg" alt="" class="non-owl-lazy img--block img--responsive" style="margin: 0 auto;"></div>
				<div  data-hash="frame-21" class="item v"><img data-src="assets/frames/still-21.jpg" alt="" class="non-owl-lazy img--block img--responsive" style="margin: 0 auto;"></div>
				<div  data-hash="frame-22" class="item v"><img data-src="assets/frames/still-22.jpg" alt="" class="non-owl-lazy img--block img--responsive" style="margin: 0 auto;"></div>
				<div  data-hash="frame-23" class="item v"><img data-src="assets/frames/still-23.jpg" alt="" class="non-owl-lazy img--block img--responsive" style="margin: 0 auto;"></div>
				<div  data-hash="frame-24" class="item v"><img data-src="assets/frames/still-24.jpg" alt="" class="non-owl-lazy img--block img--responsive" style="margin: 0 auto;"></div>
				<div  data-hash="frame-25" class="item v"><img data-src="assets/frames/still-25.jpg" alt="" class="non-owl-lazy img--block img--responsive" style="margin: 0 auto;"></div>
				<div  data-hash="frame-26" class="item v"><img data-src="assets/frames/still-26.jpg" alt="" class="non-owl-lazy img--block img--responsive" style="margin: 0 auto;"></div>
				<div  data-hash="frame-27" class="item v"><img data-src="assets/frames/still-27.jpg" alt="" class="non-owl-lazy img--block img--responsive" style="margin: 0 auto;"></div>
				<div  data-hash="frame-28" class="item v"><img data-src="assets/frames/still-28.jpg" alt="" class="non-owl-lazy img--block img--responsive" style="margin: 0 auto;"></div>
				<div  data-hash="frame-29" class="item v"><img data-src="assets/frames/still-29.jpg" alt="" class="non-owl-lazy img--block img--responsive" style="margin: 0 auto;"></div>
				<div  data-hash="frame-30" class="item v"><img data-src="assets/frames/still-30.jpg" alt="" class="non-owl-lazy img--block img--responsive" style="margin: 0 auto;"></div>
				<div  data-hash="frame-31" class="item v"><img data-src="assets/frames/still-31.jpg" alt="" class="non-owl-lazy img--block img--responsive" style="margin: 0 auto;"></div>
				<div  data-hash="frame-32" class="item v"><img data-src="assets/frames/still-32.jpg" alt="" class="non-owl-lazy img--block img--responsive" style="margin: 0 auto;"></div>
				<div  data-hash="frame-33" class="item v"><img data-src="assets/frames/still-33.jpg" alt="" class="non-owl-lazy img--block img--responsive" style="margin: 0 auto;"></div>
				<div  data-hash="frame-34" class="item v"><img data-src="assets/frames/still-34.jpg" alt="" class="non-owl-lazy img--block img--responsive" style="margin: 0 auto;"></div>
				<div  data-hash="frame-35" class="item v"><img data-src="assets/frames/still-35.jpg" alt="" class="non-owl-lazy img--block img--responsive" style="margin: 0 auto;"></div>
				<div  data-hash="frame-36" class="item v"><img data-src="assets/frames/still-36.jpg" alt="" class="non-owl-lazy img--block img--responsive" style="margin: 0 auto;"></div>
				<div  data-hash="frame-37" class="item v"><img data-src="assets/frames/still-37.jpg" alt="" class="non-owl-lazy img--block img--responsive" style="margin: 0 auto;"></div>
				<div  data-hash="frame-38" class="item v"><img data-src="assets/frames/still-38.jpg" alt="" class="non-owl-lazy img--block img--responsive" style="margin: 0 auto;"></div>
				<div  data-hash="frame-39" class="item v"><img data-src="assets/frames/still-39.jpg" alt="" class="non-owl-lazy img--block img--responsive" style="margin: 0 auto;"></div>
				<div  data-hash="frame-40" class="item v"><img data-src="assets/frames/still-40.jpg" alt="" class="non-owl-lazy img--block img--responsive" style="margin: 0 auto;"></div>
				<div  data-hash="frame-41" class="item v"><img data-src="assets/frames/still-41.jpg" alt="" class="non-owl-lazy img--block img--responsive" style="margin: 0 auto;"></div>
				<div  data-hash="frame-42" class="item v"><img data-src="assets/frames/still-41.jpg" alt="" class="non-owl-lazy img--block img--responsive" style="margin: 0 auto;"></div>
				<div  data-hash="frame-43" class="item v"><img data-src="assets/frames/still-43.jpg" alt="" class="non-owl-lazy img--block img--responsive" style="margin: 0 auto;"></div>
				<div  data-hash="frame-44" class="item v"><img data-src="assets/frames/still-44.jpg" alt="" class="non-owl-lazy img--block img--responsive" style="margin: 0 auto;"></div>
				<div  data-hash="frame-45" class="item v"><img data-src="assets/frames/still-45.jpg" alt="" class="non-owl-lazy img--block img--responsive" style="margin: 0 auto;"></div>
				<div  data-hash="frame-46" class="item v"><img data-src="assets/frames/still-46.jpg" alt="" class="non-owl-lazy img--block img--responsive" style="margin: 0 auto;"></div>
				<div  data-hash="frame-47" class="item v"><img data-src="assets/frames/still-47.jpg" alt="" class="non-owl-lazy img--block img--responsive" style="margin: 0 auto;"></div>
				<div  data-hash="frame-48" class="item v"><img data-src="assets/frames/still-48.jpg" alt="" class="non-owl-lazy img--block img--responsive" style="margin: 0 auto;"></div>
				<div  data-hash="frame-49" class="item v"><img data-src="assets/frames/still-49.jpg" alt="" class="non-owl-lazy img--block img--responsive" style="margin: 0 auto;"></div>
				<div  data-hash="frame-50" class="item v"><img data-src="assets/frames/still-50.jpg" alt="" class="non-owl-lazy img--block img--responsive" style="margin: 0 auto;"></div>
				<div  data-hash="frame-51" class="item v"><img data-src="assets/frames/still-51.jpg" alt="" class="non-owl-lazy img--block img--responsive" style="margin: 0 auto;"></div>
				<div  data-hash="frame-52" class="item v"><img data-src="assets/frames/still-52.jpg" alt="" class="non-owl-lazy img--block img--responsive" style="margin: 0 auto;"></div>
				<div  data-hash="frame-53" class="item v"><img data-src="assets/frames/still-53.jpg" alt="" class="non-owl-lazy img--block img--responsive" style="margin: 0 auto;"></div>
				<div  data-hash="frame-54" class="item v"><img data-src="assets/frames/still-54.jpg" alt="" class="non-owl-lazy img--block img--responsive" style="margin: 0 auto;"></div>
				<div  data-hash="frame-55" class="item v"><img data-src="assets/frames/still-55.jpg" alt="" class="non-owl-lazy img--block img--responsive" style="margin: 0 auto;"></div>
				<div  data-hash="frame-56" class="item v"><img data-src="assets/frames/still-56.jpg" alt="" class="non-owl-lazy img--block img--responsive" style="margin: 0 auto;"></div>
				<div  data-hash="frame-57" class="item v"><img data-src="assets/frames/still-57.jpg" alt="" class="non-owl-lazy img--block img--responsive" style="margin: 0 auto;"></div>
				<div  data-hash="frame-58" class="item v"><img data-src="assets/frames/still-58.jpg" alt="" class="non-owl-lazy img--block img--responsive" style="margin: 0 auto;"></div>
				<div  data-hash="frame-59" class="item v"><img data-src="assets/frames/still-59.jpg" alt="" class="non-owl-lazy img--block img--responsive" style="margin: 0 auto;"></div>
				<div  data-hash="frame-60" class="item v"><img data-src="assets/frames/still-60.jpg" alt="" class="non-owl-lazy img--block img--responsive" style="margin: 0 auto;"></div>
				<div  data-hash="frame-61" class="item v"><img data-src="assets/frames/still-61.jpg" alt="" class="non-owl-lazy img--block img--responsive" style="margin: 0 auto;"></div>
				<div  data-hash="frame-62" class="item v"><img data-src="assets/frames/still-62.jpg" alt="" class="non-owl-lazy img--block img--responsive" style="margin: 0 auto;"></div>
				<div  data-hash="frame-63" class="item v"><img data-src="assets/frames/still-63.jpg" alt="" class="non-owl-lazy img--block img--responsive" style="margin: 0 auto;"></div>
				<div  data-hash="frame-64" class="item v"><img data-src="assets/frames/still-64.jpg" alt="" class="non-owl-lazy img--block img--responsive" style="margin: 0 auto;"></div>
				<div  data-hash="frame-65" class="item v"><img data-src="assets/frames/still-65.jpg" alt="" class="non-owl-lazy img--block img--responsive" style="margin: 0 auto;"></div>
				<div  data-hash="frame-66" class="item v"><img data-src="assets/frames/still-66.jpg" alt="" class="non-owl-lazy img--block img--responsive" style="margin: 0 auto;"></div>
				<div  data-hash="frame-67" class="item v"><img data-src="assets/frames/still-67.jpg" alt="" class="non-owl-lazy img--block img--responsive" style="margin: 0 auto;"></div>
				<div  data-hash="frame-68" class="item v"><img data-src="assets/frames/still-68.jpg" alt="" class="non-owl-lazy img--block img--responsive" style="margin: 0 auto;"></div>
				<div  data-hash="frame-69" class="item v"><img data-src="assets/frames/still-69.jpg" alt="" class="non-owl-lazy img--block img--responsive" style="margin: 0 auto;"></div>
				<div  data-hash="frame-70" class="item v"><img data-src="assets/frames/still-70.jpg" alt="" class="non-owl-lazy img--block img--responsive" style="margin: 0 auto;"></div>
				<div  data-hash="frame-71" class="item v"><img data-src="assets/frames/still-71.jpg" alt="" class="non-owl-lazy img--block img--responsive" style="margin: 0 auto;"></div>
				<div  data-hash="frame-72" class="item v"><img data-src="assets/frames/still-72.jpg" alt="" class="non-owl-lazy img--block img--responsive" style="margin: 0 auto;"></div>
				<div  data-hash="frame-73" class="item v"><img data-src="assets/frames/still-73.jpg" alt="" class="non-owl-lazy img--block img--responsive" style="margin: 0 auto;"></div>
				<div  data-hash="frame-74" class="item v"><img data-src="assets/frames/still-74.jpg" alt="" class="non-owl-lazy img--block img--responsive" style="margin: 0 auto;"></div>
				<div  data-hash="frame-75" class="item v"><img data-src="assets/frames/still-75.jpg" alt="" class="non-owl-lazy img--block img--responsive" style="margin: 0 auto;"></div>
				<div  data-hash="frame-76" class="item v"><img data-src="assets/frames/still-76.jpg" alt="" class="non-owl-lazy img--block img--responsive" style="margin: 0 auto;"></div>
				<div  data-hash="frame-77" class="item v"><img data-src="assets/frames/still-77.jpg" alt="" class="non-owl-lazy img--block img--responsive" style="margin: 0 auto;"></div>
			</div>
		</div>
		<div
			data-plugin-options='{"items":5, "loop": false, "center": false, "nav": true, "mouseDrag": false, "margin":6}' 
			data-responsive-options='{"0": {"items": 2}, "480": {"items": 3}, "768": {"items": 4}, "992": {"items": 5}, "1024": {"items": 5}}' 
			id="thumbs" 
			class="carousel thumbs">
			<div class="item" data-carousel="#screens" data-thumb="1"><img src="assets/frames/still-1-preview.jpg" alt="" class="img--block img--full-width"></div>
			<div class="item" data-carousel="#screens" data-thumb="2"><img src="assets/frames/still-2-preview.jpg" alt="" class="img--block img--full-width"></div>
			<div class="item" data-carousel="#screens" data-thumb="3"><img src="assets/frames/still-3-preview.jpg" alt="" class="img--block img--full-width"></div>
			<div class="item" data-carousel="#screens" data-thumb="4"><img src="assets/frames/still-4-preview.jpg" alt="" class="img--block img--full-width"></div>
			<div class="item" data-carousel="#screens" data-thumb="5"><img src="assets/frames/still-5-preview.jpg" alt="" class="img--block img--full-width"></div>
			<div class="item" data-carousel="#screens" data-thumb="6"><img src="assets/frames/still-6-preview.jpg" alt="" class="img--block img--full-width"></div>
			<div class="item" data-carousel="#screens" data-thumb="7"><img src="assets/frames/still-7-preview.jpg" alt="" class="img--block img--full-width"></div>
			<div class="item" data-carousel="#screens" data-thumb="8"><img src="assets/frames/still-8-preview.jpg" alt="" class="img--block img--full-width"></div>
			<div class="item" data-carousel="#screens" data-thumb="9"><img src="assets/frames/still-9-preview.jpg" alt="" class="img--block img--full-width"></div>
			<div class="item" data-carousel="#screens" data-thumb="10"><img src="assets/frames/still-10-preview.jpg" alt="" class="img--block img--full-width"></div>
			<div class="item" data-carousel="#screens" data-thumb="11"><img src="assets/frames/still-11-preview.jpg" alt="" class="img--block img--full-width"></div>
			<div class="item" data-carousel="#screens" data-thumb="12"><img src="assets/frames/still-12-preview.jpg" alt="" class="img--block img--full-width"></div>
			<div class="item" data-carousel="#screens" data-thumb="13"><img src="assets/frames/still-13-preview.jpg" alt="" class="img--block img--full-width"></div>
			<div class="item" data-carousel="#screens" data-thumb="14"><img src="assets/frames/still-14-preview.jpg" alt="" class="img--block img--full-width"></div>
			<div class="item" data-carousel="#screens" data-thumb="15"><img src="assets/frames/still-15-preview.jpg" alt="" class="img--block img--full-width"></div>
			<div class="item" data-carousel="#screens" data-thumb="16"><img src="assets/frames/still-16-preview.jpg" alt="" class="img--block img--full-width"></div>
			<div class="item" data-carousel="#screens" data-thumb="17"><img src="assets/frames/still-17-preview.jpg" alt="" class="img--block img--full-width"></div>
			<div class="item" data-carousel="#screens" data-thumb="18"><img src="assets/frames/still-18-preview.jpg" alt="" class="img--block img--full-width"></div>
			<div class="item" data-carousel="#screens" data-thumb="19"><img src="assets/frames/still-19-preview.jpg" alt="" class="img--block img--full-width"></div>
			<div class="item" data-carousel="#screens" data-thumb="20"><img src="assets/frames/still-20-preview.jpg" alt="" class="img--block img--full-width"></div>
			<div class="item" data-carousel="#screens" data-thumb="21"><img src="assets/frames/still-21-preview.jpg" alt="" class="img--block img--full-width"></div>
			<div class="item" data-carousel="#screens" data-thumb="22"><img src="assets/frames/still-22-preview.jpg" alt="" class="img--block img--full-width"></div>
			<div class="item" data-carousel="#screens" data-thumb="23"><img src="assets/frames/still-23-preview.jpg" alt="" class="img--block img--full-width"></div>
			<div class="item" data-carousel="#screens" data-thumb="24"><img src="assets/frames/still-24-preview.jpg" alt="" class="img--block img--full-width"></div>
			<div class="item" data-carousel="#screens" data-thumb="25"><img src="assets/frames/still-25-preview.jpg" alt="" class="img--block img--full-width"></div>
			<div class="item" data-carousel="#screens" data-thumb="26"><img src="assets/frames/still-26-preview.jpg" alt="" class="img--block img--full-width"></div>
			<div class="item" data-carousel="#screens" data-thumb="27"><img src="assets/frames/still-27-preview.jpg" alt="" class="img--block img--full-width"></div>
			<div class="item" data-carousel="#screens" data-thumb="28"><img src="assets/frames/still-28-preview.jpg" alt="" class="img--block img--full-width"></div>
			<div class="item" data-carousel="#screens" data-thumb="29"><img src="assets/frames/still-29-preview.jpg" alt="" class="img--block img--full-width"></div>
			<div class="item" data-carousel="#screens" data-thumb="30"><img src="assets/frames/still-30-preview.jpg" alt="" class="img--block img--full-width"></div>
			<div class="item" data-carousel="#screens" data-thumb="31"><img src="assets/frames/still-31-preview.jpg" alt="" class="img--block img--full-width"></div>
			<div class="item" data-carousel="#screens" data-thumb="32"><img src="assets/frames/still-32-preview.jpg" alt="" class="img--block img--full-width"></div>
			<div class="item" data-carousel="#screens" data-thumb="33"><img src="assets/frames/still-33-preview.jpg" alt="" class="img--block img--full-width"></div>
			<div class="item" data-carousel="#screens" data-thumb="34"><img src="assets/frames/still-34-preview.jpg" alt="" class="img--block img--full-width"></div>
			<div class="item" data-carousel="#screens" data-thumb="35"><img src="assets/frames/still-35-preview.jpg" alt="" class="img--block img--full-width"></div>
			<div class="item" data-carousel="#screens" data-thumb="36"><img src="assets/frames/still-36-preview.jpg" alt="" class="img--block img--full-width"></div>
			<div class="item" data-carousel="#screens" data-thumb="37"><img src="assets/frames/still-37-preview.jpg" alt="" class="img--block img--full-width"></div>
			<div class="item" data-carousel="#screens" data-thumb="38"><img src="assets/frames/still-38-preview.jpg" alt="" class="img--block img--full-width"></div>
			<div class="item" data-carousel="#screens" data-thumb="39"><img src="assets/frames/still-39-preview.jpg" alt="" class="img--block img--full-width"></div>
			<div class="item" data-carousel="#screens" data-thumb="40"><img src="assets/frames/still-40-preview.jpg" alt="" class="img--block img--full-width"></div>
			<div class="item" data-carousel="#screens" data-thumb="41"><img src="assets/frames/still-41-preview.jpg" alt="" class="img--block img--full-width"></div>
			<div class="item" data-carousel="#screens" data-thumb="42"><img src="assets/frames/still-42-preview.jpg" alt="" class="img--block img--full-width"></div>
			<div class="item" data-carousel="#screens" data-thumb="43"><img src="assets/frames/still-43-preview.jpg" alt="" class="img--block img--full-width"></div>
			<div class="item" data-carousel="#screens" data-thumb="44"><img src="assets/frames/still-44-preview.jpg" alt="" class="img--block img--full-width"></div>
			<div class="item" data-carousel="#screens" data-thumb="45"><img src="assets/frames/still-45-preview.jpg" alt="" class="img--block img--full-width"></div>
			<div class="item" data-carousel="#screens" data-thumb="46"><img src="assets/frames/still-46-preview.jpg" alt="" class="img--block img--full-width"></div>
			<div class="item" data-carousel="#screens" data-thumb="47"><img src="assets/frames/still-47-preview.jpg" alt="" class="img--block img--full-width"></div>
			<div class="item" data-carousel="#screens" data-thumb="48"><img src="assets/frames/still-48-preview.jpg" alt="" class="img--block img--full-width"></div>
			<div class="item" data-carousel="#screens" data-thumb="49"><img src="assets/frames/still-49-preview.jpg" alt="" class="img--block img--full-width"></div>
			<div class="item" data-carousel="#screens" data-thumb="50"><img src="assets/frames/still-50-preview.jpg" alt="" class="img--block img--full-width"></div>
			<div class="item" data-carousel="#screens" data-thumb="51"><img src="assets/frames/still-51-preview.jpg" alt="" class="img--block img--full-width"></div>
			<div class="item" data-carousel="#screens" data-thumb="52"><img src="assets/frames/still-52-preview.jpg" alt="" class="img--block img--full-width"></div>
			<div class="item" data-carousel="#screens" data-thumb="53"><img src="assets/frames/still-53-preview.jpg" alt="" class="img--block img--full-width"></div>
			<div class="item" data-carousel="#screens" data-thumb="54"><img src="assets/frames/still-54-preview.jpg" alt="" class="img--block img--full-width"></div>
			<div class="item" data-carousel="#screens" data-thumb="55"><img src="assets/frames/still-55-preview.jpg" alt="" class="img--block img--full-width"></div>
			<div class="item" data-carousel="#screens" data-thumb="56"><img src="assets/frames/still-56-preview.jpg" alt="" class="img--block img--full-width"></div>
			<div class="item" data-carousel="#screens" data-thumb="57"><img src="assets/frames/still-57-preview.jpg" alt="" class="img--block img--full-width"></div>
			<div class="item" data-carousel="#screens" data-thumb="58"><img src="assets/frames/still-58-preview.jpg" alt="" class="img--block img--full-width"></div>
			<div class="item" data-carousel="#screens" data-thumb="59"><img src="assets/frames/still-59-preview.jpg" alt="" class="img--block img--full-width"></div>
			<div class="item" data-carousel="#screens" data-thumb="60"><img src="assets/frames/still-60-preview.jpg" alt="" class="img--block img--full-width"></div>
			<div class="item" data-carousel="#screens" data-thumb="61"><img src="assets/frames/still-61-preview.jpg" alt="" class="img--block img--full-width"></div>
			<div class="item" data-carousel="#screens" data-thumb="62"><img src="assets/frames/still-62-preview.jpg" alt="" class="img--block img--full-width"></div>
			<div class="item" data-carousel="#screens" data-thumb="63"><img src="assets/frames/still-63-preview.jpg" alt="" class="img--block img--full-width"></div>
			<div class="item" data-carousel="#screens" data-thumb="64"><img src="assets/frames/still-64-preview.jpg" alt="" class="img--block img--full-width"></div>
			<div class="item" data-carousel="#screens" data-thumb="65"><img src="assets/frames/still-65-preview.jpg" alt="" class="img--block img--full-width"></div>
			<div class="item" data-carousel="#screens" data-thumb="66"><img src="assets/frames/still-66-preview.jpg" alt="" class="img--block img--full-width"></div>
			<div class="item" data-carousel="#screens" data-thumb="67"><img src="assets/frames/still-67-preview.jpg" alt="" class="img--block img--full-width"></div>
			<div class="item" data-carousel="#screens" data-thumb="68"><img src="assets/frames/still-68-preview.jpg" alt="" class="img--block img--full-width"></div>
			<div class="item" data-carousel="#screens" data-thumb="69"><img src="assets/frames/still-69-preview.jpg" alt="" class="img--block img--full-width"></div>
			<div class="item" data-carousel="#screens" data-thumb="70"><img src="assets/frames/still-70-preview.jpg" alt="" class="img--block img--full-width"></div>
			<div class="item" data-carousel="#screens" data-thumb="71"><img src="assets/frames/still-71-preview.jpg" alt="" class="img--block img--full-width"></div>
			<div class="item" data-carousel="#screens" data-thumb="72"><img src="assets/frames/still-72-preview.jpg" alt="" class="img--block img--full-width"></div>
			<div class="item" data-carousel="#screens" data-thumb="73"><img src="assets/frames/still-73-preview.jpg" alt="" class="img--block img--full-width"></div>
			<div class="item" data-carousel="#screens" data-thumb="74"><img src="assets/frames/still-74-preview.jpg" alt="" class="img--block img--full-width"></div>
			<div class="item" data-carousel="#screens" data-thumb="75"><img src="assets/frames/still-75-preview.jpg" alt="" class="img--block img--full-width"></div>
			<div class="item" data-carousel="#screens" data-thumb="76"><img src="assets/frames/still-76-preview.jpg" alt="" class="img--block img--full-width"></div>
			<div class="item" data-carousel="#screens" data-thumb="77"><img src="assets/frames/still-77-preview.jpg" alt="" class="img--block img--full-width"></div>
		</div>
	</div>
</div>