<header class="header visible-sm visible-md visible-lg">
	<div class="container">
		<div class="row">
			<div id="nav" class="col-sm-10">
				<div class="follow-logo">
					<a href="#index">
						<svg viewBox="0 0 566.929 283.464" class="movie-logo img--responsive">
			            	<use xlink:href="#logo"></use>
			            </svg>
						<!-- <img src="images/sw-logo.svg" alt="Хороший Динозавр" class="img--responsive"> -->
					</a>
				</div>
				<nav class="nav">
					<ul  class="nav__list">
						<li class="nav__item"><a href="#about">О фильме</a></li>
						<li class="nav__item"><a href="#heroes">Герои</a></li>
						<li class="nav__item"><a href="#trailers">Видео</a></li>
						<li class="nav__item"><a href="#frames">Кадры</a></li>
						<li class="nav__item"><a href="#films">Другие фильмы</a></li>
						<li class="nav__item"><a href="#concurs">Конкурс</a></li>
					</ul>
				</nav>
			</div>
			<div class="col-sm-2">
				<div class="socials align--right">
					<div class="share__init" data-url="http://starwars.ru/probuzhdenie-sily/" data-title="Смотрите новый трейлер к фильму «Звёздные Войны: Пробуждение Силы»"></div>
				</div>
			</div>
		</div>
	</div>
</header>