<script src="js/libs.js"></script>
<script>
	$(function(){
		var Preview;
		Preview = (function() {
		  function Preview() {
		    this.state = null;
		  }
		  Preview.prototype.set = function(param) {
		    this.state = param;
		    addAttrbites(param);
		  };
		  var addAttrbites = function(v) {
		    $('body').attr('data-view', v).data('view', v);
		  };
		  return Preview;
		})();

		window.preview = new Preview();

        window.preview.set('video')
		// window.preview.set('image')
	});
</script>
<script>

	WebFontConfig = {
		google: { 
			families: [ 
				'Roboto+Condensed:400,300,300italic,400italic,700,700italic:latin,cyrillic', 
				'Roboto:400,100,500,700,900:latin,cyrillic',
				'Open Sans:400,300,500:latin,cyrillic'
			]
		}
	};
	(function() {
		var wf = document.createElement('script');
		wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
		'://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
		wf.type = 'text/javascript';
		wf.async = 'true';
		var s = document.getElementsByTagName('script')[0];
		s.parentNode.insertBefore(wf, s);
	})();

</script>
<!-- Button pay ticket -->
<script>
	
	(function() {
		var script = document.createElement('script');
		script.src = 'http://kinohod.ru/static/js/widget/v2.1/boxoffice.js?apikey=2f7831f3-d5e7-3595-ba10-12eb97a8ef10&base_uri=http%3a%2f%2fkinohod.ru%2fapi%2fwidget';
		script.type = 'text/javascript';
		script.async = 'false';
		script.id = 'kh_script';
		var s = document.getElementsByTagName('script')[0];
		s.parentNode.insertBefore(script, s);
	})();
	
	(function() {
		var script = document.createElement('script');
		script.src = 'http://kinohod.ru/static/js/widget/boxoffice/generic.js';
		script.type = 'text/javascript';
		script.async = 'false';
		var s = document.getElementsByTagName('script')[0];
		s.parentNode.insertBefore(script, s);
	})();


</script>
<script charset="ISO-8859-1" src="http://fast.wistia.com/assets/external/E-v1.js"></script>
<script src="https://www.youtube.com/iframe_api"></script>
<script src="js/main.js"></script>
<script>
	$(window).load(function(){
		var md = new MobileDetect(window.navigator.userAgent);

		if(md.mobile()){
			return
		}else{
			$(window).trigger('resize')
		}
	})
</script>