<div class="trailers-popup popup" id="trailers-popup">
	<div class="screen-area">
		<div class="trailer-area">
			<div class="js-close font-icon icon-close close"></div>
			<iframe frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen allowfullscreen="true" allowscriptaccess="always" quality="medium"  src="" class="trailer" id="trailer"></iframe>
		</div>
	</div>
</div>