<div id="concurs" class="section section--baner">
	<div class="align--center ">
 		<h2 class="section-title align--center">Выбери сторону силы</h2>
		<div class="baner">
			<a target="_blank" href="http://starwars.ru/promo/">
				<img src="assets/baner-main.jpg" alt="">
				<img class="img-320" src="assets/baner-main-320.jpg" alt="">
			</a>
		</div>
	</div>
</div>