<div class="section section--app">
	<div class="container relative">
		<div class="row">
			<div class="col-xs-4 col-sm-3">
				<div class="app-logo"><img src="assets/app.jpg" alt="" class="img--block img--responsive"></div>
			</div>
			<div class="col-xs-8 col-sm-9">
				<h2 class="app-title">Звёздные Войны. Вторжение</h2>
				<div class="text">
					Реши исход галактической войны в новой мобильной игре «Звёздные Войны: Вторжение»
				</div>
				<div class="links">
					<a target="_blank" href="https://control.kochava.com/v1/cpi/click?campaign_id=kostarwarscommanderios3271532cb7338afe15df2e9ef45228&network_id=1666&device_id=device_id&site_id=RU-web-swpromo-120315-RU-RU " class="link ios link-an-send"><img src="images/store.png" alt="" class="img--block img--responsive"></a>
					<a target="_blank" href="https://control.kochava.com/v1/cpi/click?campaign_id=kostarwarscommandergoogle3272532cb8720a3eff123c45983459&network_id=1666&device_id=device_id&site_id=RU-web-swpromo-120315-RU-RU&append_app_conv_trk_params=1 " class="link android link-an-send"><img src="images/gplay.png" alt="" class="img--block img--responsive"></a>
				</div>
			</div>
		</div>
	</div>
</div>