<div  id="about" class="section section--about">
	<div class="container ">
		<div class="row">
			<div class="col-sm-4">
				<div class="poster">
					<img src="assets/poster-about.png" alt="" class="img--responsive">
				</div>
				<a href="http://kinohod.ru/widget/?apikey=7426d96b-9f48-3f37-a77d-705e533c4696#movie_7336" target="_blank" id="pay-2" class="btn-2 visible-sm-inline-block js-click">Купить билет</a>
			</div>
			<div class="col-sm-8">
				<h2 class="section-title">Звёздные войны: Пробуждение силы</h2>
				<p>Легендарная сага, покорившая миллионы людей во всем мире, возвращается на большие экраны! Новый эпизод космической саги «Звёздные Войны: Пробуждение Силы» объединит знакомых всем поклонникам персонажей и новых героев, расскажет о новых мирах и новых приключениях. </p>
				<ul class="list">
					<li class="list__item">
						<span class="list__left">Жанр:</span>
						<span class="list__right">Фантастический экшн</span>
					</li>
					<li class="list__item">
						<span class="list__left">Режиссёр:</span>
						<span class="list__right">Джей Джей Абрамс</span>
					</li>
					<li class="list__item">
						<span class="list__left">Продюсеры:</span>
						<span class="list__right">Джей Джей Абрамс, Брайан Берк, Кэтлин Кеннеди</span>
					</li>
					<li class="list__item">
						<span class="list__left">Композитор:</span>
						<span class="list__right">Джон Уильямс</span>
					</li>
					<li class="list__item">
						<span class="list__left">Актеры:</span>
						<span class="list__right">Харрисон Форд, Кэрри Фишер, Марк Хэмилл, Энтони Дэниелс, Джон Бойега, Дейзи Ридли, Адам Драйвер, Донал Глисон, Оскар Айзек, Энди Серкис, Макс фон Сюдов, Лупита Нионго, Гвендолин Кристи</span>
					</li>
					<li class="list__item">
						<span class="list__left">Прокатный рейтинг: </span>
						<span class="list__right">12+</span>
					</li>
					<li class="list__item">
						<span class="list__left">Формат:</span>
						<span class="list__right">IMAX, 3D, 2D</span>
					</li>
				</ul>
				<div class="btn-row">
					<span id="pay-2" data="{'movie':7336}" class="btn-2 kh_boxoffice visible-md-inline-block visible-lg-inline-block">Купить билет</span>
					<a href="http://kinohod.ru/widget/?apikey=7426d96b-9f48-3f37-a77d-705e533c4696#movie_7336" target="_blank" id="pay-2" class="btn-2 visible-xs-inline-block js-click">Купить билет</a>
				</div>
			</div>
		</div>
	</div>
</div>