<div id="frames" class="section section--frames">
	<div class="container ">
 		<h2 class="section-title align--center">Кадры</h2>
 		<div class="relative">
			<div class="preloader">
			    <svg class="circle">
			        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#play-circle"></use>
			    </svg>
			</div>
	 		<div data-c="2" id="frames-items" class="items overflow-items js-max-height-calculation">
		 		<div id="frames-carousel" class="frames must-be-carousel keycontrol sendanalytics" 
		 		data-string="TFA Still" 
		 		data-plugin-options='{"items":1, "loop": false, "nav": true, "mouseDrag": false, "margin":0, "lazyLoad": true}' 
		 		data-threshold="481">
		 			<div class="frames__item etalon">
		 				<div class="a" data-max-event="480" data-carousel-popup-target="#frames-popup" data-index="1"><img data-src="assets/frames/still-1-preview.jpg" src="assets/frames/still-1-preview.jpg" alt="" class="owl-lazy img--block img--full-width"></div>
		 			</div>
		 			<div class="frames__item">
		 				<div class="a" data-max-event="480" data-carousel-popup-target="#frames-popup" data-index="2"><img data-src="assets/frames/still-2-preview.jpg" src="assets/frames/still-2-preview.jpg" alt="" class="owl-lazy img--block img--full-width"></div>
		 			</div>
		 			<div class="frames__item">
		 				<div class="a" data-max-event="480" data-carousel-popup-target="#frames-popup" data-index="3"><img data-src="assets/frames/still-3-preview.jpg" src="assets/frames/still-3-preview.jpg" alt="" class="owl-lazy img--block img--full-width"></div>
		 			</div>
		 			<div class="frames__item">
		 				<div class="a" data-max-event="480" data-carousel-popup-target="#frames-popup" data-index="4"><img data-src="assets/frames/still-4-preview.jpg" src="assets/frames/still-4-preview.jpg" alt="" class="owl-lazy img--block img--full-width"></div>
		 			</div>
		 			<div class="frames__item">
		 				<div class="a" data-max-event="480" data-carousel-popup-target="#frames-popup" data-index="5"><img data-src="assets/frames/still-5-preview.jpg" src="assets/frames/still-5-preview.jpg" alt="" class="owl-lazy img--block img--full-width"></div>
		 			</div>
		 			<div class="frames__item">
		 				<div class="a" data-max-event="480" data-carousel-popup-target="#frames-popup" data-index="6"><img data-src="assets/frames/still-6-preview.jpg"  src="assets/frames/still-6-preview.jpg" alt="" class="owl-lazy img--block img--full-width"></div>
		 			</div>
		 			<div class="frames__item">
		 				<div class="a" data-max-event="480" data-carousel-popup-target="#frames-popup" data-index="7"><img data-src="assets/frames/still-7-preview.jpg" alt="" class="owl-lazy img--block img--full-width"></div>
		 			</div>
		 			<div class="frames__item">
		 				<div class="a" data-max-event="480" data-carousel-popup-target="#frames-popup" data-index="8"><img data-src="assets/frames/still-8-preview.jpg" alt="" class="owl-lazy img--block img--full-width"></div>
		 			</div>
		 			<div class="frames__item">
		 				<div class="a" data-max-event="480" data-carousel-popup-target="#frames-popup" data-index="9"><img data-src="assets/frames/still-9-preview.jpg" alt="" class="owl-lazy img--block img--full-width"></div>
		 			</div>
		 			<div class="frames__item">
		 				<div class="a" data-max-event="480" data-carousel-popup-target="#frames-popup" data-index="10"><img data-src="assets/frames/still-10-preview.jpg" alt="" class="owl-lazy img--block img--full-width"></div>
		 			</div>
		 			<div class="frames__item">
		 				<div class="a" data-max-event="480" data-carousel-popup-target="#frames-popup" data-index="11"><img data-src="assets/frames/still-11-preview.jpg" alt="" class="owl-lazy img--block img--full-width"></div>
		 			</div>
		 			<div class="frames__item">
		 				<div class="a" data-max-event="480" data-carousel-popup-target="#frames-popup" data-index="12"><img data-src="assets/frames/still-12-preview.jpg" alt="" class="owl-lazy img--block img--full-width"></div>
		 			</div>
		 			<div class="frames__item">
		 				<div class="a" data-max-event="480" data-carousel-popup-target="#frames-popup" data-index="13"><img data-src="assets/frames/still-13-preview.jpg" alt="" class="owl-lazy img--block img--full-width"></div>
		 			</div>
		 			<div class="frames__item">
		 				<div class="a" data-max-event="480" data-carousel-popup-target="#frames-popup" data-index="14"><img data-src="assets/frames/still-14-preview.jpg" alt="" class="owl-lazy img--block img--full-width"></div>
		 			</div>
		 			<div class="frames__item">
		 				<div class="a" data-max-event="480" data-carousel-popup-target="#frames-popup" data-index="15"><img data-src="assets/frames/still-15-preview.jpg" alt="" class="owl-lazy img--block img--full-width"></div>
		 			</div>
		 			<div class="frames__item">
		 				<div class="a" data-max-event="480" data-carousel-popup-target="#frames-popup" data-index="16"><img data-src="assets/frames/still-16-preview.jpg" alt="" class="owl-lazy img--block img--full-width"></div>
		 			</div>
		 			<div class="frames__item">
		 				<div class="a" data-max-event="480" data-carousel-popup-target="#frames-popup" data-index="17"><img data-src="assets/frames/still-17-preview.jpg" alt="" class="owl-lazy img--block img--full-width"></div>
		 			</div>
		 			<div class="frames__item">
		 				<div class="a" data-max-event="480" data-carousel-popup-target="#frames-popup" data-index="18"><img data-src="assets/frames/still-18-preview.jpg" alt="" class="owl-lazy img--block img--full-width"></div>
		 			</div>
		 			<div class="frames__item">
		 				<div class="a" data-max-event="480" data-carousel-popup-target="#frames-popup" data-index="19"><img data-src="assets/frames/still-19-preview.jpg" alt="" class="owl-lazy img--block img--full-width"></div>
		 			</div>
		 			<div class="frames__item">
		 				<div class="a" data-max-event="480" data-carousel-popup-target="#frames-popup" data-index="20"><img data-src="assets/frames/still-20-preview.jpg" alt="" class="owl-lazy img--block img--full-width"></div>
		 			</div>
		 			<div class="frames__item">
		 				<div class="a" data-max-event="480" data-carousel-popup-target="#frames-popup" data-index="21"><img data-src="assets/frames/still-21-preview.jpg" alt="" class="owl-lazy img--block img--full-width"></div>
		 			</div>
		 			<div class="frames__item">
		 				<div class="a" data-max-event="480" data-carousel-popup-target="#frames-popup" data-index="22"><img data-src="assets/frames/still-22-preview.jpg" alt="" class="owl-lazy img--block img--full-width"></div>
		 			</div>
		 			<div class="frames__item">
		 				<div class="a" data-max-event="480" data-carousel-popup-target="#frames-popup" data-index="23"><img data-src="assets/frames/still-23-preview.jpg" alt="" class="owl-lazy img--block img--full-width"></div>
		 			</div>
		 			<div class="frames__item">
		 				<div class="a" data-max-event="480" data-carousel-popup-target="#frames-popup" data-index="24"><img data-src="assets/frames/still-24-preview.jpg" alt="" class="owl-lazy img--block img--full-width"></div>
		 			</div>
		 			<div class="frames__item">
		 				<div class="a" data-max-event="480" data-carousel-popup-target="#frames-popup" data-index="25"><img data-src="assets/frames/still-25-preview.jpg" alt="" class="owl-lazy img--block img--full-width"></div>
		 			</div>
		 			<div class="frames__item">
		 				<div class="a" data-max-event="480" data-carousel-popup-target="#frames-popup" data-index="26"><img data-src="assets/frames/still-26-preview.jpg" alt="" class="owl-lazy img--block img--full-width"></div>
		 			</div>
		 			<div class="frames__item">
		 				<div class="a" data-max-event="480" data-carousel-popup-target="#frames-popup" data-index="27"><img data-src="assets/frames/still-27-preview.jpg" alt="" class="owl-lazy img--block img--full-width"></div>
		 			</div>
		 			<div class="frames__item">
		 				<div class="a" data-max-event="480" data-carousel-popup-target="#frames-popup" data-index="28"><img data-src="assets/frames/still-28-preview.jpg" alt="" class="owl-lazy img--block img--full-width"></div>
		 			</div>
		 			<div class="frames__item">
		 				<div class="a" data-max-event="480" data-carousel-popup-target="#frames-popup" data-index="29"><img data-src="assets/frames/still-29-preview.jpg" alt="" class="owl-lazy img--block img--full-width"></div>
		 			</div>
		 			<div class="frames__item">
		 				<div class="a" data-max-event="480" data-carousel-popup-target="#frames-popup" data-index="30"><img data-src="assets/frames/still-30-preview.jpg" alt="" class="owl-lazy img--block img--full-width"></div>
		 			</div>
		 			<div class="frames__item">
		 				<div class="a" data-max-event="480" data-carousel-popup-target="#frames-popup" data-index="31"><img data-src="assets/frames/still-31-preview.jpg" alt="" class="owl-lazy img--block img--full-width"></div>
		 			</div>
		 			<div class="frames__item">
		 				<div class="a" data-max-event="480" data-carousel-popup-target="#frames-popup" data-index="32"><img data-src="assets/frames/still-32-preview.jpg" alt="" class="owl-lazy img--block img--full-width"></div>
		 			</div>
		 			<div class="frames__item">
		 				<div class="a" data-max-event="480" data-carousel-popup-target="#frames-popup" data-index="33"><img data-src="assets/frames/still-33-preview.jpg" alt="" class="owl-lazy img--block img--full-width"></div>
		 			</div>
		 			<div class="frames__item">
		 				<div class="a" data-max-event="480" data-carousel-popup-target="#frames-popup" data-index="34"><img data-src="assets/frames/still-34-preview.jpg" alt="" class="owl-lazy img--block img--full-width"></div>
		 			</div>
		 			<div class="frames__item">
		 				<div class="a" data-max-event="480" data-carousel-popup-target="#frames-popup" data-index="35"><img data-src="assets/frames/still-35-preview.jpg" alt="" class="owl-lazy img--block img--full-width"></div>
		 			</div>
		 			<div class="frames__item">
		 				<div class="a" data-max-event="480" data-carousel-popup-target="#frames-popup" data-index="36"><img data-src="assets/frames/still-36-preview.jpg" alt="" class="owl-lazy img--block img--full-width"></div>
		 			</div>
		 			<div class="frames__item">
		 				<div class="a" data-max-event="480" data-carousel-popup-target="#frames-popup" data-index="37"><img data-src="assets/frames/still-37-preview.jpg" alt="" class="owl-lazy img--block img--full-width"></div>
		 			</div>
		 			<div class="frames__item">
		 				<div class="a" data-max-event="480" data-carousel-popup-target="#frames-popup" data-index="38"><img data-src="assets/frames/still-38-preview.jpg" alt="" class="owl-lazy img--block img--full-width"></div>
		 			</div>
		 			<div class="frames__item">
		 				<div class="a" data-max-event="480" data-carousel-popup-target="#frames-popup" data-index="39"><img data-src="assets/frames/still-39-preview.jpg" alt="" class="owl-lazy img--block img--full-width"></div>
		 			</div>
		 			<div class="frames__item">
		 				<div class="a" data-max-event="480" data-carousel-popup-target="#frames-popup" data-index="40"><img data-src="assets/frames/still-40-preview.jpg" alt="" class="owl-lazy img--block img--full-width"></div>
		 			</div>
		 			<div class="frames__item">
		 				<div class="a" data-max-event="480" data-carousel-popup-target="#frames-popup" data-index="41"><img data-src="assets/frames/still-41-preview.jpg" alt="" class="owl-lazy img--block img--full-width"></div>
		 			</div>
		 			<div class="frames__item">
		 				<div class="a" data-max-event="480" data-carousel-popup-target="#frames-popup" data-index="42"><img data-src="assets/frames/still-42-preview.jpg" alt="" class="owl-lazy img--block img--full-width"></div>
		 			</div>
		 			<div class="frames__item">
		 				<div class="a" data-max-event="480" data-carousel-popup-target="#frames-popup" data-index="43"><img data-src="assets/frames/still-43-preview.jpg" alt="" class="owl-lazy img--block img--full-width"></div>
		 			</div>
		 			<div class="frames__item">
		 				<div class="a" data-max-event="480" data-carousel-popup-target="#frames-popup" data-index="44"><img data-src="assets/frames/still-44-preview.jpg" alt="" class="owl-lazy img--block img--full-width"></div>
		 			</div>
		 			<div class="frames__item">
		 				<div class="a" data-max-event="480" data-carousel-popup-target="#frames-popup" data-index="45"><img data-src="assets/frames/still-45-preview.jpg" alt="" class="owl-lazy img--block img--full-width"></div>
		 			</div>
		 			<div class="frames__item">
		 				<div class="a" data-max-event="480" data-carousel-popup-target="#frames-popup" data-index="46"><img data-src="assets/frames/still-46-preview.jpg" alt="" class="owl-lazy img--block img--full-width"></div>
		 			</div>
		 			<div class="frames__item">
		 				<div class="a" data-max-event="480" data-carousel-popup-target="#frames-popup" data-index="47"><img data-src="assets/frames/still-47-preview.jpg" alt="" class="owl-lazy img--block img--full-width"></div>
		 			</div>
		 			<div class="frames__item">
		 				<div class="a" data-max-event="480" data-carousel-popup-target="#frames-popup" data-index="48"><img data-src="assets/frames/still-48-preview.jpg" alt="" class="owl-lazy img--block img--full-width"></div>
		 			</div>
		 			<div class="frames__item">
		 				<div class="a" data-max-event="480" data-carousel-popup-target="#frames-popup" data-index="49"><img data-src="assets/frames/still-49-preview.jpg" alt="" class="owl-lazy img--block img--full-width"></div>
		 			</div>
		 			<div class="frames__item">
		 				<div class="a" data-max-event="480" data-carousel-popup-target="#frames-popup" data-index="50"><img data-src="assets/frames/still-50-preview.jpg" alt="" class="owl-lazy img--block img--full-width"></div>
		 			</div>
		 			<div class="frames__item">
		 				<div class="a" data-max-event="480" data-carousel-popup-target="#frames-popup" data-index="51"><img data-src="assets/frames/still-51-preview.jpg" alt="" class="owl-lazy img--block img--full-width"></div>
		 			</div>
		 			<div class="frames__item">
		 				<div class="a" data-max-event="480" data-carousel-popup-target="#frames-popup" data-index="52"><img data-src="assets/frames/still-52-preview.jpg" alt="" class="owl-lazy img--block img--full-width"></div>
		 			</div>
		 			<div class="frames__item">
		 				<div class="a" data-max-event="480" data-carousel-popup-target="#frames-popup" data-index="53"><img data-src="assets/frames/still-53-preview.jpg" alt="" class="owl-lazy img--block img--full-width"></div>
		 			</div>
		 			<div class="frames__item">
		 				<div class="a" data-max-event="480" data-carousel-popup-target="#frames-popup" data-index="54"><img data-src="assets/frames/still-54-preview.jpg" alt="" class="owl-lazy img--block img--full-width"></div>
		 			</div>
		 			<div class="frames__item">
		 				<div class="a" data-max-event="480" data-carousel-popup-target="#frames-popup" data-index="55"><img data-src="assets/frames/still-55-preview.jpg" alt="" class="owl-lazy img--block img--full-width"></div>
		 			</div>
		 			<div class="frames__item">
		 				<div class="a" data-max-event="480" data-carousel-popup-target="#frames-popup" data-index="56"><img data-src="assets/frames/still-56-preview.jpg" alt="" class="owl-lazy img--block img--full-width"></div>
		 			</div>
		 			<div class="frames__item">
		 				<div class="a" data-max-event="480" data-carousel-popup-target="#frames-popup" data-index="57"><img data-src="assets/frames/still-57-preview.jpg" alt="" class="owl-lazy img--block img--full-width"></div>
		 			</div>
		 			<div class="frames__item">
		 				<div class="a" data-max-event="480" data-carousel-popup-target="#frames-popup" data-index="58"><img data-src="assets/frames/still-58-preview.jpg" alt="" class="owl-lazy img--block img--full-width"></div>
		 			</div>
		 			<div class="frames__item">
		 				<div class="a" data-max-event="480" data-carousel-popup-target="#frames-popup" data-index="59"><img data-src="assets/frames/still-59-preview.jpg" alt="" class="owl-lazy img--block img--full-width"></div>
		 			</div>
		 			<div class="frames__item">
		 				<div class="a" data-max-event="480" data-carousel-popup-target="#frames-popup" data-index="60"><img data-src="assets/frames/still-60-preview.jpg" alt="" class="owl-lazy img--block img--full-width"></div>
		 			</div>
		 			<div class="frames__item">
		 				<div class="a" data-max-event="480" data-carousel-popup-target="#frames-popup" data-index="61"><img data-src="assets/frames/still-61-preview.jpg" alt="" class="owl-lazy img--block img--full-width"></div>
		 			</div>
		 			<div class="frames__item">
		 				<div class="a" data-max-event="480" data-carousel-popup-target="#frames-popup" data-index="62"><img data-src="assets/frames/still-62-preview.jpg" alt="" class="owl-lazy img--block img--full-width"></div>
		 			</div>
		 			<div class="frames__item">
		 				<div class="a" data-max-event="480" data-carousel-popup-target="#frames-popup" data-index="63"><img data-src="assets/frames/still-63-preview.jpg" alt="" class="owl-lazy img--block img--full-width"></div>
		 			</div>
		 			<div class="frames__item">
		 				<div class="a" data-max-event="480" data-carousel-popup-target="#frames-popup" data-index="64"><img data-src="assets/frames/still-64-preview.jpg" alt="" class="owl-lazy img--block img--full-width"></div>
		 			</div>
		 			<div class="frames__item">
		 				<div class="a" data-max-event="480" data-carousel-popup-target="#frames-popup" data-index="65"><img data-src="assets/frames/still-65-preview.jpg" alt="" class="owl-lazy img--block img--full-width"></div>
		 			</div>
		 			<div class="frames__item">
		 				<div class="a" data-max-event="480" data-carousel-popup-target="#frames-popup" data-index="66"><img data-src="assets/frames/still-66-preview.jpg" alt="" class="owl-lazy img--block img--full-width"></div>
		 			</div>
		 			<div class="frames__item">
		 				<div class="a" data-max-event="480" data-carousel-popup-target="#frames-popup" data-index="67"><img data-src="assets/frames/still-67-preview.jpg" alt="" class="owl-lazy img--block img--full-width"></div>
		 			</div>
		 			<div class="frames__item">
		 				<div class="a" data-max-event="480" data-carousel-popup-target="#frames-popup" data-index="68"><img data-src="assets/frames/still-68-preview.jpg" alt="" class="owl-lazy img--block img--full-width"></div>
		 			</div>
		 			<div class="frames__item">
		 				<div class="a" data-max-event="480" data-carousel-popup-target="#frames-popup" data-index="69"><img data-src="assets/frames/still-69-preview.jpg" alt="" class="owl-lazy img--block img--full-width"></div>
		 			</div>
		 			<div class="frames__item">
		 				<div class="a" data-max-event="480" data-carousel-popup-target="#frames-popup" data-index="70"><img data-src="assets/frames/still-70-preview.jpg" alt="" class="owl-lazy img--block img--full-width"></div>
		 			</div>
		 			<div class="frames__item">
		 				<div class="a" data-max-event="480" data-carousel-popup-target="#frames-popup" data-index="71"><img data-src="assets/frames/still-71-preview.jpg" alt="" class="owl-lazy img--block img--full-width"></div>
		 			</div>
		 			<div class="frames__item">
		 				<div class="a" data-max-event="480" data-carousel-popup-target="#frames-popup" data-index="72"><img data-src="assets/frames/still-72-preview.jpg" alt="" class="owl-lazy img--block img--full-width"></div>
		 			</div>
		 			<div class="frames__item">
		 				<div class="a" data-max-event="480" data-carousel-popup-target="#frames-popup" data-index="73"><img data-src="assets/frames/still-73-preview.jpg" alt="" class="owl-lazy img--block img--full-width"></div>
		 			</div>
		 			<div class="frames__item">
		 				<div class="a" data-max-event="480" data-carousel-popup-target="#frames-popup" data-index="74"><img data-src="assets/frames/still-74-preview.jpg" alt="" class="owl-lazy img--block img--full-width"></div>
		 			</div>
		 			<div class="frames__item">
		 				<div class="a" data-max-event="480" data-carousel-popup-target="#frames-popup" data-index="75"><img data-src="assets/frames/still-75-preview.jpg" alt="" class="owl-lazy img--block img--full-width"></div>
		 			</div>
		 			<div class="frames__item">
		 				<div class="a" data-max-event="480" data-carousel-popup-target="#frames-popup" data-index="76"><img data-src="assets/frames/still-76-preview.jpg" alt="" class="owl-lazy img--block img--full-width"></div>
		 			</div>
		 			<div class="frames__item">
		 				<div class="a" data-max-event="480" data-carousel-popup-target="#frames-popup" data-index="77"><img data-src="assets/frames/still-77-preview.jpg" alt="" class="owl-lazy img--block img--full-width"></div>
		 			</div>
		 		</div>
	 		</div>
 		</div>
 		<div class="align--center">
 			<div id="counter" class="counter">1 из 77</div>
 		</div>
 		<div class="more-row">
 			<span class="show-more">
 				<span data-to="down" data-expand="#frames-items"  id="open-Stills" class="ctx">
	 				<span class="text">Показать все кадры</span>
	 				<span class="icon down"></span>
 				</span>
 				<span data-to="up" data-expand="#frames-items" class="ctx hide">
	 				<span class="text">Скрыть</span>
	 				<span class="icon up"></span>
 				</span>
 			</span>
 		</div>
	</div>
</div>