<div id="films" class="section section--films">
	<div class="container relative">
		<h2 class="section-title align--center">Другие фильмы</h2>
		<div class="films-carousel carousel keycontrol" data-plugin-options='{"items": 6, "loop": false, "margin": 20, "nav": false, "mouseDrag": false}' 
		data-responsive-options='{"0": {"items": 3, "stagePadding": 40, "margin": 10, "loop": true}, "480": {"items": 3, "stagePadding": 40, "margin": 10, "loop": true}, "768": {"items": 4, "stagePadding": 40, "margin": 10, "loop": true}, "992": {"items": 6}, "1024": {"items": 6}}'>
			<div class="item">
				<div class="poster">
					<a  target="_blank"  data-index="1" href="http://starwars.ru/films/skryitaya-ugroza/"><img src="assets/posters/3.jpg" alt="" class="img--responsive"></a>
				</div>
				<div class="caption">
					Звёздные войны: <br>Скрытая угроза
				</div>
			</div>
			<div class="item">
				<div class="poster">
					<a target="_blank" data-index="2" href="http://starwars.ru/films/ataka-klonov/ "><img src="assets/posters/2.jpg" alt="" class="img--responsive"></a>
				</div>
				<div class="caption">
					Звёздные войны: <br>Атака клонов
				</div>
			</div>
			<div class="item">
				<div class="poster">
					<a  target="_blank" data-index="3" href="http://starwars.ru/films/mest-sithov/"><img src="assets/posters/1.jpg" alt="" class="img--responsive"></a>
				</div>
				<div class="caption">
					Звёздные войны: <br>Месть ситхов
				</div>
			</div>
			<div class="item">
				<div class="poster">
					<a  target="_blank" data-index="4" href="http://starwars.ru/films/novaya-nadezhda/"><img src="assets/posters/6.jpg" alt="" class="img--responsive"></a>
				</div>
				<div class="caption">
					Звёздные войны: <br>Новая надежда
				</div>
			</div>
			<div class="item">
				<div class="poster">
					<a  target="_blank" data-index="5" href="http://starwars.ru/films/imperiya-nanosit-otvetnyij-udar/"><img src="assets/posters/5.jpg" alt="" class="img--responsive"></a>
				</div>
				<div class="caption">
					Звёздные войны: <br>Империя наносит ответный удар
				</div>
			</div>
			<div class="item">
				<div class="poster">
					<a  target="_blank" data-index="6" href="http://starwars.ru/films/vozvraschenie-dzhedaya/"><img src="assets/posters/4.jpg" alt="" class="img--responsive"></a>
				</div>
				<div class="caption">
					Звёздные войны: <br>Возвращение джедая
				</div>
			</div>
		</div>
	</div>
</div>