<div id="index" class="section section--video align--center">
    <div class="view">
        <div id="closeYoutubeVideo" class="font-icon icon-close closeYoutubeVideo"></div>
        <div class="video_container_wr">
            <div class="main-image"></div>
            <div id="video_container">
                <div id="wistia_c2ouy4z96t" class="wistia_embed"></div>
                <div id="y-video" class="y-video">
                    <div id="my-video-container"></div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="text-container">
                <h1>
                    <svg viewBox="0 0 566.929 283.464" class="movie-logo">
                        <use xlink:href="#logo"></use>
                    </svg>
                    <div class="t">В кино с 17 декабря</div>
                </h1>
                <div class="b">
                    <div class="circle-b">
                        <svg viewBox="0 0 114 114" id="playBtn"  class="play show">
                            <use class="poligon" xlink:href="#play"></use>
                        </svg>
                    </div>
                </div>
               <span data="{'movie':7336}"  id="pay-1" class="ticket-btn kh_boxoffice visible-md-inline-block visible-lg-inline-block">
                    <span class="text">купить билет</span>
                    <span class="s s-1"></span>
                    <span class="s s-2"></span>
                    <span class="s s-3"></span>
                </span>
               <a target="_blank" href="http://kinohod.ru/widget/?apikey=7426d96b-9f48-3f37-a77d-705e533c4696#movie_7336"  id="pay-1" class="js-click ticket-btn visible-sm-inline-block visible-xs-inline-block">
                    <span class="text">купить билет</span>
                    <span class="s s-1"></span>
                    <span class="s s-2"></span>
                    <span class="s s-3"></span>
                </a>
            </div>
        </div>
    </div>
</div>