<div id="trailers" class="section section--trailers">
	<div class="container ">
 		<h2 class="section-title align--center">Видео</h2>
 		<div data-c="1" id="trailers-items" class="items overflow-items js-max-height">
	 		<div class="trailers">
				<div class="trailers__item etalon">
					<div class="inner">
						<div class="a trailers__item_send" data-index="1" data-popup-target="#trailers-popup" data-src="https://www.youtube.com/embed/e2wnCtMgBsI?autoplay=1">
							<svg viewBox="0 0 114 114" class="play">
				            	<use class="poligon" xlink:href="#play"></use>
				            </svg>
				            
							<img src="assets/video/v1.jpg" alt="" class="placeholder">
						</div>
					</div>
					<div class="caption">
						<span class="time">1:50</span>
						<div class="t">Звёздные Войны: Пробуждение Силы – ТИЗЕР</div>
					</div>
				</div>
				<div class="trailers__item">
					<div class="inner">
						<div class="a trailers__item_send" data-index="2" data-popup-target="#trailers-popup" data-src="https://www.youtube.com/embed/Qhdar7_HcC4?autoplay=1">
							<svg viewBox="0 0 114 114" class="play">
				            	<use class="poligon" xlink:href="#play"></use>
				            </svg>
				            
							<img src="assets/video/v2.jpg" alt="" class="placeholder">
						</div>
					</div>
					<div class="caption">
						<span class="time">3:35</span>
						<div class="t">Звёздные Войны: Пробуждение Силы. За кадром.</div>
					</div>
				</div>
				<div class="trailers__item">
					<div class="inner">
						<div class="a trailers__item_send" data-index="3" data-popup-target="#trailers-popup" data-src="https://www.youtube.com/embed/lZty8EbliSw?autoplay=1">
							<svg viewBox="0 0 114 114" class="play">
				            	<use class="poligon" xlink:href="#play"></use>
				            </svg>
							<img src="assets/video/v3.jpg" alt="" class="placeholder">
						</div>
					</div>
					<div class="caption">
				        <span class="time">1:28</span>
						<div class="t">Звёздные Войны: Пробуждение Силы - эксклюзивное видео</div>
					</div>
				</div>
				<div class="trailers__item">
					<div class="inner">
						<div class="a trailers__item_send" data-index="4" data-popup-target="#trailers-popup" data-src="https://www.youtube.com/embed/HE8VkpsJwT0?autoplay=1">
							<svg viewBox="0 0 114 114" class="play">
				            	<use class="poligon" xlink:href="#play"></use>
				            </svg>
							<img src="assets/video/v4.jpg" alt="" class="placeholder">
						</div>
					</div>
					<div class="caption">
				        <span class="time">1:41</span>
						<div class="t">Звёздные Войны: Сила перемен - специальное обращение от Джей Джей Абрамса</div>
					</div>
				</div>
				<div class="trailers__item">
					<div class="inner">
						<div class="a trailers__item_send" data-index="5" data-popup-target="#trailers-popup" data-src="https://www.youtube.com/embed/O3SsdgDEwH4?autoplay=1">
							<svg viewBox="0 0 114 114" class="play">
				            	<use class="poligon" xlink:href="#play"></use>
				            </svg>
							<img src="assets/video/v5.jpg" alt="" class="placeholder">
						</div>
					</div>
					<div class="caption">
				        <span class="time">1:41</span>
						<div class="t">Наследие - со съёмок фильма “Звёздные Войны: Пробуждение Силы”</div>
					</div>
				</div>
	 		</div>
 		</div>
 		<div class="more-row">
 			<span  class="show-more">
 				<span data-to="down"  data-expand="#trailers-items" id="open-trailers" class="ctx">
	 				<span class="text">Показать все трейлеры</span>
	 				<span class="icon down"></span>
 				</span>
 				<span data-to="up" data-expand="#trailers-items" class="ctx hide">
	 				<span class="text">Скрыть</span>
	 				<span class="icon up"></span>
 				</span>
 			</span>
 		</div>
	</div>
</div>