<div class="section section--heroes" id="heroes">
	<h2 class="section-title align--center">Герои</h2>
	<div class="container">
		<div class="relative">
			<div class="preloader">
			    <svg class="circle">
			        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#play-circle"></use>
			    </svg>
			</div>
			<div id="carousel-heroes" class="carousel carousel-heroes keycontrol sendanalytics" data-nav-text='<svg viewBox="0 0 27 29"><use xlink:href="#btn-left"></use></svg>,<svg viewBox="0 0 27 29"><use xlink:href="#btn-right"></use></svg>' data-string="TFA Heroes Slot" data-plugin-options='{"items":1, "loop": true, "nav": true, "mouseDrag": false, "margin":0, "lazyLoad": true}'>
				<div data-hash="kailo" class="item">
					<div class="inner">
						<img class="img--responsive" src="assets/heroes/2.jpg" alt="">
						<div class="caption">Кайло Рен</div>
					</div>
				</div>
				<div data-hash="rey" class="item">
					<div class="inner">
						<img class="owl-lazy img--responsive" data-src="assets/heroes/4.jpg" alt="">
						<div class="caption">Рей</div>
					</div>
				</div>
				<div data-hash="bb8" class="item">
					<div class="inner">
						<img class="owl-lazy img--responsive" data-src="assets/heroes/5.jpg" alt="">
						<div class="caption">BB-8</div>
					</div>
				</div>
				<div data-hash="fin" class="item">
					<div class="inner">
						<img class="owl-lazy img--responsive" data-src="assets/heroes/1.jpg" alt="">
						<div class="caption">Финн</div>
					</div>
				</div>
				<div data-hash="podameron" class="item">
					<div class="inner">
						<img class="owl-lazy img--responsive" data-src="assets/heroes/7.jpg" alt="">
						<div class="caption">По Дэмерон</div>
					</div>
				</div>
				<div data-hash="captanfazma" class="item">
					<div class="inner">
						<img class="owl-lazy img--responsive" data-src="assets/heroes/3.jpg" alt="">
						<div class="caption">Капитан Фазма</div>
					</div>
				</div>
				<div data-hash="generalhax" class="item">
					<div class="inner">
						<img class="owl-lazy img--responsive" data-src="assets/heroes/12.jpg" alt="">
						<div class="caption">Генерал Хакс</div>
					</div>
				</div>
				<div data-hash="tido" class="item">
					<div class="inner">
						<img class="owl-lazy img--responsive" data-src="assets/heroes/11.jpg" alt="">
						<div class="caption">Тидо</div>
					</div>
				</div>
				<div data-hash="solo" class="item">
					<div class="inner">
						<img class="owl-lazy img--responsive" data-src="assets/heroes/10.jpg" alt="">
						<div class="caption">Хан Соло</div>
					</div>
				</div>
				<div data-hash="chubacka" class="item">
					<div class="inner">
						<img class="owl-lazy img--responsive" data-src="assets/heroes/6.jpg" alt="">
						<div class="caption">Чубакка</div>
					</div>
				</div>
				<div data-hash="lea" class="item">
					<div class="inner">
						<img class="owl-lazy img--responsive" data-src="assets/heroes/13.jpg" alt="">
						<div class="caption">Принцесса Лея</div>
					</div>
				</div>
				<div data-hash="c3po" class="item">
					<div class="inner">
						<img class="owl-lazy img--responsive" data-src="assets/heroes/8.jpg" alt="">
						<div class="caption">С-3PO</div>
					</div>
				</div>
				<div data-hash="r2d2" class="item">
					<div class="inner">
						<img class="owl-lazy img--responsive" data-src="assets/heroes/9.jpg" alt="">
						<div class="caption">R2-D2</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>