<div class="section section--music">
	<div class="container relative">
		<div class="c-w">
			<div class="row">
				<div class="col-md-6">
					<div class="music-block soundtrack">
						<div class="block-title">Саундтрек</div>
						<div class="data">
							<img src="assets/Star-Wars-The-Force-Awakens---Digital-Cover-rus.jpg" alt="" class="img--responsive img-poster">
							<p>Саундтреки ко всем частям саги уже доступны на всех популрных сервисах. Качайте и слушайте! Ура-ура!</p>
						</div>
						<div class="listen">
							<div class="item">
								<a target="_blank" class="soundtrack-send" href="https://itunes.apple.com/ru/album/zvezdnye-vojny-probuzdenie/id1068301291?l=en"><img src="images/itunes.png" alt=""></a>
							</div>
							<div class="item">
								<a target="_blank" class="soundtrack-send" href="https://itun.es/ru/RVpR_"><img src="images/listen.png" alt=""></a>
							</div>
							<div class="item">
								<a target="_blank" class="soundtrack-send" href="https://music.yandex.ru/search?text=%D0%B7%D0%B2%D0%B5%D0%B7%D0%B4%D0%BD%D1%8B%D0%B5%20%D0%B2%D0%BE%D0%B9%D0%BD%D1%8B&type=albums"><img src="images/yamusic.png" alt=""></a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="music-block ringtones">
						<div class="block-title">Рингтоны</div>
						<p>Оригинальные рингбэктоны по мотивам "Звёздных войн" для абонентов <b>Билайн</b></p>
						<div class="data">
							<div class="item">
								<div class="image">
									<img src="assets/music-c3po.png" alt="" class="img--responsive">
								</div>
								<div class="t">С-3PO</div>
								<div class="cod">код мелодии <span>047338</span></div>
							</div>
							<div class="item">
								<div class="image">
									<img src="assets/music-joda.png" alt="" class="img--responsive">
								</div>
								<div class="t">Йода</div>
								<div class="cod">код мелодии <span>047339</span></div>
							</div>
							<div class="item">
								<div class="image">
									<img src="assets/music-dart.png" alt="" class="img--responsive">
								</div>
								<div class="t">Дарт Вейдер</div>
								<div class="cod">код мелодии <span>047340</span></div>
							</div>
						</div>
						<a target="_blank" href="https://privet.beeline.ru/Performer.aspx?peid=19255" class="btn-more ringtones-send"><span>Подробнее</span></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>