.footer{
	text-align: center;
	padding: 73px 0 35px;
	color: #666666;
	font-size: 14px;
	font-family: $roboto;

	.foo-nav{
		ul{
			list-style-type: none;
			margin: 0;
			padding: 0;

			li{
				display: inline-block;
				vertical-align: top;
				margin: 0 13px 14px;

			}

			a{
				text-decoration: none;
				color: #666666;

				&:hover{
					text-decoration: underline;
				}
			}
		}
	}

	.copy{
		margin: 0 auto 20px;
		max-width: 700px;
		line-height: 1;

		p{
			margin: 0 0 8px 0;
			line-height: 1;
		}
	}

	.dsn-logo{
		fill: #c1c1c1;
		margin: 0 0 24px 0;
	}
	
	.foo-socials{
		margin: 21px 0 0 0;

		a{
			@include transition(all $base-transition-timing ease);
			display: inline-block;
			vertical-align: middle;
			font-size: 28px;
			text-decoration: none;
			margin: 0 11px;
			color: #666666;

			&:hover{
				color: #ccc;
			}
		}

		.icon-facebook{
			font-size: 26px;
		}
	}

}