.header{
	background: #000;
	height: 50px;
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;

	.follow-logo{
		@include transition(all $base-transition-timing*1.7 ease);
		display: inline-block;
		vertical-align: top;
		width: 0;
		overflow: hidden;
		height: 55px;
		line-height: 53px;
		margin-top: -2px;
		margin-left: -6px;
		opacity: 0;
		visibility: hidden;

		img{
			vertical-align: middle;
		}

		@include brk($max: $screen-desktop) {
			display: none;
		};
	}

	&.scrolled{
		.follow-logo{
			width: 106px;
			margin-right: 7.1%;
			opacity: 1;
			visibility: visible;
		}
	}
}

.nav{

	padding-top: 16px;
	display: inline-block;
	vertical-align: top;

	&__list{
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	&__item{
		display: inline-block;
		vertical-align: top;
		margin: 0 0 0 24px;

		&:first-child{
			margin-left: 0;
		}

		a{
			@include transition(color $base-transition-timing ease);
			color: #8f8f8f;
			text-decoration: none;

			&:hover{
				color: #fff;
			}
	
			&.nav-active{
				color: #fff;
			}
	
		}

	}
}

.socials{
	position: relative;
	padding-top: 10px;

	&__link{
		@include transition(all $base-transition-timing ease);
		display: inline-block;
		vertical-align: middle;
		color: #8f8f8f;
		text-decoration: none;
		margin: 0 0 0 22px;
		font-size: 20px;
		cursor: pointer;

		&:first-child{
			margin-left: 0;
		}

		&:hover{
			color: #fff;
		}
		
	}

	&--fb{
		@extend .icon-facebook;
		font-size: 22px;
	}
	&--tw{
		@extend .icon-twitter;
	}
	&--ok{
		@extend .icon-odnoklassniki;
	}
}